@charset "UTF-8";
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: visible;
}

#cboxWrapper {
  max-width: none;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
  border: none;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: #111;
}

#cboxLoadedContent {
  margin-bottom: 0;
}

#cboxContent {
  overflow: visible;
}

#colorbox:focus {
  outline: none;
}
#colorbox #cboxPrevious {
  background: transparent;
  position: absolute;
  top: 50%;
  left: -80px;
  margin-top: -32px;
  width: 32px;
  height: 64px;
  text-indent: -9999px;
}
#colorbox #cboxPrevious:before, #colorbox #cboxPrevious:after {
  content: '';
  position: absolute;
  width: 45px;
  height: 4px;
  background: #fff;
  border-radius: 99px;
}
#colorbox #cboxPrevious:before {
  right: 0;
  top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
}
#colorbox #cboxPrevious:after {
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
}
#colorbox #cboxPrevious:focus {
  outline: none;
}
@media only screen and (max-width: 900px) {
  #colorbox #cboxPrevious {
    left: -35px;
    width: 24px;
    height: 48px;
    margin-top: -24px;
  }
  #colorbox #cboxPrevious:before, #colorbox #cboxPrevious:after {
    width: 33px;
  }
}
#colorbox #cboxNext {
  background: transparent;
  position: absolute;
  top: 50%;
  right: -80px;
  left: auto;
  margin-top: -32px;
  width: 32px;
  height: 64px;
  text-indent: -9999px;
}
#colorbox #cboxNext:before, #colorbox #cboxNext:after {
  content: '';
  position: absolute;
  width: 45px;
  height: 4px;
  background: #fff;
  border-radius: 99px;
}
#colorbox #cboxNext:before {
  left: 0;
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
}
#colorbox #cboxNext:after {
  left: 0;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}
#colorbox #cboxNext:focus {
  outline: none;
}
@media only screen and (max-width: 900px) {
  #colorbox #cboxNext {
    right: -35px;
    width: 24px;
    height: 48px;
    margin-top: -24px;
  }
  #colorbox #cboxNext:before, #colorbox #cboxNext:after {
    width: 33px;
  }
}
#colorbox #cboxClose {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: -80px;
  cursor: pointer;
  padding: 10px;
  background: transparent;
  text-indent: -9999px;
}
#colorbox #cboxClose:before, #colorbox #cboxClose:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 4px;
  border-radius: 99px;
  background: #fff;
}
#colorbox #cboxClose:before {
  top: 2px;
  right: 4px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
}
#colorbox #cboxClose:after {
  bottom: 2px;
  right: 4px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
}
#colorbox #cboxClose:focus {
  outline: none;
}
@media only screen and (max-width: 900px) {
  #colorbox #cboxClose {
    right: 0;
    top: -60px;
  }
}
#colorbox #cboxCurrent {
  text-indent: -9999px;
}
#colorbox #cboxContent {
  background: #fff;
}

.off-canvas-wrap {
  -webkit-backface-visibility: hidden;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.off-canvas-wrap.move-right, .off-canvas-wrap.move-left {
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
}

.inner-wrap {
  position: relative;
  width: 100%;
  -webkit-transition: -webkit-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  -o-transition: transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}
.inner-wrap:before, .inner-wrap:after {
  content: " ";
  display: table;
}
.inner-wrap:after {
  clear: both;
}

.left-small {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  border-right: solid 1px #2b2b2b;
  left: 0;
}

.right-small {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  border-left: solid 1px #2b2b2b;
  right: 0;
}

.menu-icon {
  text-indent: 35px;
  width: 45px;
  height: 45px;
  display: block;
  padding: 0;
  color: #282828;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu-icon span::after {
  content: "";
  position: absolute;
  display: block;
  height: 0;
  top: 50%;
  margin-top: -8px;
  left: 14.5px;
  -webkit-box-shadow: 0 0 0 1px #282828, 0 7px 0 1px #282828, 0 14px 0 1px #282828;
          box-shadow: 0 0 0 1px #282828, 0 7px 0 1px #282828, 0 14px 0 1px #282828;
  width: 16px;
}
.menu-icon span:hover:after {
  -webkit-box-shadow: 0 0 0 1px #1c1c1c, 0 7px 0 1px #1c1c1c, 0 14px 0 1px #1c1c1c;
          box-shadow: 0 0 0 1px #1c1c1c, 0 7px 0 1px #1c1c1c, 0 14px 0 1px #1c1c1c;
}

.left-off-canvas-menu {
  -webkit-backface-visibility: hidden;
  width: 250px;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  background: #555;
  z-index: 1001;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: -webkit-transform 500ms ease 0s;
  transition: -webkit-transform 500ms ease 0s;
  -o-transition: transform 500ms ease 0s;
  transition: transform 500ms ease 0s;
  transition: transform 500ms ease 0s, -webkit-transform 500ms ease 0s;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  left: 0;
}
.left-off-canvas-menu * {
  -webkit-backface-visibility: hidden;
}

.right-off-canvas-menu {
  -webkit-backface-visibility: hidden;
  width: 250px;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  background: #555;
  z-index: 1001;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: -webkit-transform 500ms ease 0s;
  transition: -webkit-transform 500ms ease 0s;
  -o-transition: transform 500ms ease 0s;
  transition: transform 500ms ease 0s;
  transition: transform 500ms ease 0s, -webkit-transform 500ms ease 0s;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  right: 0;
}
.right-off-canvas-menu * {
  -webkit-backface-visibility: hidden;
}

ul.off-canvas-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.off-canvas-list li label {
  display: block;
  padding: 0.3rem 15px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  background: #bbb;
  border-top: 1px solid #c5c5c5;
  border-bottom: none;
  margin: 0;
}
ul.off-canvas-list li a {
  display: block;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #404040;
  -webkit-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  transition: background 300ms ease;
}
ul.off-canvas-list li a:hover {
  background: #3c3c3c;
}

.move-right > .inner-wrap {
  -webkit-transform: translate3d(250px, 0, 0);
          transform: translate3d(250px, 0, 0);
}
.move-right .exit-off-canvas {
  -webkit-backface-visibility: hidden;
  -webkit-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  transition: background 300ms ease;
  cursor: pointer;
  -webkit-box-shadow: -4px 0 4px rgba(40, 40, 40, 0.5), 4px 0 4px rgba(40, 40, 40, 0.5);
          box-shadow: -4px 0 4px rgba(40, 40, 40, 0.5), 4px 0 4px rgba(40, 40, 40, 0.5);
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 992px) {
  .move-right .exit-off-canvas:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}

.move-left > .inner-wrap {
  -webkit-transform: translate3d(-250px, 0, 0);
          transform: translate3d(-250px, 0, 0);
}
.move-left .exit-off-canvas {
  -webkit-backface-visibility: hidden;
  -webkit-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  transition: background 300ms ease;
  cursor: pointer;
  -webkit-box-shadow: -4px 0 4px rgba(40, 40, 40, 0.5), 4px 0 4px rgba(40, 40, 40, 0.5);
          box-shadow: -4px 0 4px rgba(40, 40, 40, 0.5), 4px 0 4px rgba(40, 40, 40, 0.5);
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 992px) {
  .move-left .exit-off-canvas:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}

.offcanvas-overlap .left-off-canvas-menu, .offcanvas-overlap .right-off-canvas-menu {
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
  z-index: 1003;
}
.offcanvas-overlap .exit-off-canvas {
  -webkit-backface-visibility: hidden;
  -webkit-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  transition: background 300ms ease;
  cursor: pointer;
  -webkit-box-shadow: -4px 0 4px rgba(40, 40, 40, 0.5), 4px 0 4px rgba(40, 40, 40, 0.5);
          box-shadow: -4px 0 4px rgba(40, 40, 40, 0.5), 4px 0 4px rgba(40, 40, 40, 0.5);
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 992px) {
  .offcanvas-overlap .exit-off-canvas:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}

.offcanvas-overlap-left .right-off-canvas-menu {
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
  z-index: 1003;
}
.offcanvas-overlap-left .exit-off-canvas {
  -webkit-backface-visibility: hidden;
  -webkit-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  transition: background 300ms ease;
  cursor: pointer;
  -webkit-box-shadow: -4px 0 4px rgba(40, 40, 40, 0.5), 4px 0 4px rgba(40, 40, 40, 0.5);
          box-shadow: -4px 0 4px rgba(40, 40, 40, 0.5), 4px 0 4px rgba(40, 40, 40, 0.5);
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 992px) {
  .offcanvas-overlap-left .exit-off-canvas:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}

.offcanvas-overlap-right .left-off-canvas-menu {
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
  z-index: 1003;
}
.offcanvas-overlap-right .exit-off-canvas {
  -webkit-backface-visibility: hidden;
  -webkit-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  transition: background 300ms ease;
  cursor: pointer;
  -webkit-box-shadow: -4px 0 4px rgba(40, 40, 40, 0.5), 4px 0 4px rgba(40, 40, 40, 0.5);
          box-shadow: -4px 0 4px rgba(40, 40, 40, 0.5), 4px 0 4px rgba(40, 40, 40, 0.5);
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 992px) {
  .offcanvas-overlap-right .exit-off-canvas:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}

.no-csstransforms .left-off-canvas-menu {
  left: -250px;
}
.no-csstransforms .right-off-canvas-menu {
  right: -250px;
}
.no-csstransforms .move-left > .inner-wrap {
  right: 250px;
}
.no-csstransforms .move-right > .inner-wrap {
  left: 250px;
}

.left-submenu {
  -webkit-backface-visibility: hidden;
  width: 250px;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #555;
  z-index: 1002;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  left: 0;
  -webkit-transition: -webkit-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  -o-transition: transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}
.left-submenu * {
  -webkit-backface-visibility: hidden;
}
.left-submenu .back > a {
  padding: 0.3rem 15px;
  color: #ddd;
  text-transform: uppercase;
  font-weight: bold;
  background: #444;
  border-top: 1px solid #c5c5c5;
  border-bottom: none;
  margin: 0;
}
.left-submenu .back > a:hover {
  background: #303030;
  border-top: 1px solid #c5c5c5;
  border-bottom: none;
}
.left-submenu .back > a:before {
  content: "\AB";
  margin-right: 0.5rem;
  display: inline;
}
.left-submenu.move-right, .left-submenu.offcanvas-overlap-right, .left-submenu.offcanvas-overlap {
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.right-submenu {
  -webkit-backface-visibility: hidden;
  width: 250px;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #555;
  z-index: 1002;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  right: 0;
  -webkit-transition: -webkit-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  -o-transition: transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}
.right-submenu * {
  -webkit-backface-visibility: hidden;
}
.right-submenu .back > a {
  padding: 0.3rem 15px;
  color: #ddd;
  text-transform: uppercase;
  font-weight: bold;
  background: #444;
  border-top: 1px solid #c5c5c5;
  border-bottom: none;
  margin: 0;
}
.right-submenu .back > a:hover {
  background: #303030;
  border-top: 1px solid #c5c5c5;
  border-bottom: none;
}
.right-submenu .back > a:before {
  content: "\AB";
  margin-right: 0.5rem;
  display: inline;
}
.right-submenu.move-left, .right-submenu.offcanvas-overlap-left, .right-submenu.offcanvas-overlap {
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.left-off-canvas-menu ul.off-canvas-list li.has-submenu > a:after {
  content: "\BB";
  margin-left: 0.5rem;
  display: inline;
}

.right-off-canvas-menu ul.off-canvas-list li.has-submenu > a:before {
  content: "\AB";
  margin-right: 0.5rem;
  display: inline;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 100%;
  width: 64px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  top: 0;
  padding: 0;
  border: none;
  outline: none;
  z-index: 5;
}
.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  opacity: 0;
}

.slick-prev {
  left: 0;
  background: url(../images/left.svg) no-repeat 16px center/24px 24px;
}

.slick-next {
  right: 0;
  background: url(../images/right.svg) no-repeat 24px center/24px 24px;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.ajax-throbber {
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

body.adminimal-admin-toolbar {
  padding-top: 80px !important;
}
body.adminimal-admin-toolbar .toolbar .toolbar-bar {
  z-index: 1999;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothign: grayscale;
  image-rendering: -webkit-optimize-contrast;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
  opacity: 1;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
img.lazy-img {
  opacity: 0.1;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.container {
  max-width: 100%;
}

.region-content-top .col-xs-1, .region-content-top .col-sm-1, .region-content-top .col-md-1, .region-content-top .col-lg-1, .region-content-top .col-xs-2, .region-content-top .col-sm-2, .region-content-top .col-md-2, .region-content-top .col-lg-2, .region-content-top .col-xs-3, .region-content-top .col-sm-3, .region-content-top .col-md-3, .region-content-top .col-lg-3, .region-content-top .col-xs-4, .region-content-top .col-sm-4, .region-content-top .col-md-4, .region-content-top .col-lg-4, .region-content-top .col-xs-5, .region-content-top .col-sm-5, .region-content-top .col-md-5, .region-content-top .col-lg-5, .region-content-top .col-xs-6, .region-content-top .col-sm-6, .region-content-top .col-md-6, .region-content-top .col-lg-6, .region-content-top .col-xs-7, .region-content-top .col-sm-7, .region-content-top .col-md-7, .region-content-top .col-lg-7, .region-content-top .col-xs-8, .region-content-top .col-sm-8, .region-content-top .col-md-8, .region-content-top .col-lg-8, .region-content-top .col-xs-9, .region-content-top .col-sm-9, .region-content-top .col-md-9, .region-content-top .col-lg-9, .region-content-top .col-xs-10, .region-content-top .col-sm-10, .region-content-top .col-md-10, .region-content-top .col-lg-10, .region-content-top .col-xs-11, .region-content-top .col-sm-11, .region-content-top .col-md-11, .region-content-top .col-lg-11, .region-content-top .col-xs-12, .region-content-top .col-sm-12, .region-content-top .col-md-12, .region-content-top .col-lg-12 {
  min-height: 0;
}

.col-xs-2\.4 {
  float: left;
  width: 20%;
  padding: 0 15px;
}

.col-sm-2\.4 {
  width: 50%;
  padding: 0 15px;
}
@media only screen and (min-width: 768px) {
  .col-sm-2\.4 {
    float: left;
    width: 20%;
  }
}

.col-md-2\.4 {
  width: 50%;
  padding: 0 15px;
}
@media only screen and (min-width: 992px) {
  .col-md-2\.4 {
    float: left;
    width: 20%;
  }
}

.col-lg-2\.4 {
  width: 50%;
  padding: 0 15px;
}
@media only screen and (min-width: 1240px) {
  .col-lg-2\.4 {
    float: left;
    width: 20%;
  }
}

#az-elements-tabs #az-elements-tab-4 .filter-tags {
  display: none;
}

#page-title-full-width-container {
  margin-bottom: 0;
}

.glazed-editor:after {
  outline: none !important;
}
.glazed-editor .az-section {
  border-top: 3px dashed rgba(0, 0, 0, 0.05);
}

.alert {
  text-align: left;
}

.block > .form-group {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .block-paragraphs-anchor-links {
    position: relative;
  }
}
.block-paragraphs-anchor-links .item-list {
  margin-left: -15px;
  margin-right: -15px;
  overflow: scroll;
  scroll-behavior: smooth;
}
@media only screen and (min-width: 768px) {
  .block-paragraphs-anchor-links .item-list {
    margin-left: 0;
    margin-right: 0;
    background: transparent;
    overflow: visible;
  }
}
@media only screen and (min-width: 768px) {
  .block-paragraphs-anchor-links .item-list--scroll {
    margin-top: 50px;
    margin-bottom: 50px;
    max-height: 220px;
    overflow: hidden;
  }
  .block-paragraphs-anchor-links .item-list--scroll .nav-tabs:after {
    content: none;
  }
  .block-paragraphs-anchor-links .item-list--scroll .nav-tabs > li {
    border: none;
    padding-right: 0;
  }
  .block-paragraphs-anchor-links .item-list--scroll .nav-tabs > li a {
    -webkit-transform-origin: right center;
        -ms-transform-origin: right center;
            transform-origin: right center;
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    -o-transition: transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
  }
  .block-paragraphs-anchor-links .item-list--scroll .nav-tabs > li.active {
    border: none;
    padding-bottom: 15px;
    padding-right: 0;
  }
  .block-paragraphs-anchor-links .item-list--scroll .nav-tabs > li.active a {
    -webkit-transform: scale(1.66);
        -ms-transform: scale(1.66);
            transform: scale(1.66);
    font-weight: normal;
  }
}
.block-paragraphs-anchor-links .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (min-width: 768px) {
  .block-paragraphs-anchor-links .nav-tabs {
    display: block;
    position: relative;
  }
}
.block-paragraphs-anchor-links .nav-tabs > li {
  list-style: none;
  position: relative;
  text-align: right;
  margin: 0;
  white-space: nowrap;
}
@media only screen and (min-width: 768px) {
  .block-paragraphs-anchor-links .nav-tabs > li {
    float: none;
    position: static;
    white-space: normal;
  }
}
.block-paragraphs-anchor-links .nav-tabs > li a {
  background: transparent;
  padding: 0;
  display: block;
}
.block-paragraphs-anchor-links .next,
.block-paragraphs-anchor-links .previous {
  display: none;
}
@media only screen and (min-width: 768px) {
  .block-paragraphs-anchor-links .next,
  .block-paragraphs-anchor-links .previous {
    display: block;
    position: absolute;
    right: 0;
    width: 36px;
    height: 36px;
    border: none;
    background: transparent;
    font-size: 0;
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2012%22%3E%3Cpath%20fill%3D%22%232b979d%22%20d%3D%22M12%2C11.8c-0.2%2C0-0.4-0.1-0.5-0.2l-11-10C0.2%2C1.3%2C0.2%2C0.8%2C0.4%2C0.5c0.3-0.3%2C0.8-0.3%2C1.1-0.1L12%2C10l10.5-9.5%20c0.3-0.3%2C0.8-0.3%2C1.1%2C0.1c0.3%2C0.3%2C0.3%2C0.8%2C0%2C1.1l-11%2C10C12.4%2C11.7%2C12.2%2C11.8%2C12%2C11.8z%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/24px 12px;
  }
  .block-paragraphs-anchor-links .next:hover, .block-paragraphs-anchor-links .next:active, .block-paragraphs-anchor-links .next:focus, .block-paragraphs-anchor-links .next:active:hover, .block-paragraphs-anchor-links .next:active:focus,
  .block-paragraphs-anchor-links .previous:hover,
  .block-paragraphs-anchor-links .previous:active,
  .block-paragraphs-anchor-links .previous:focus,
  .block-paragraphs-anchor-links .previous:active:hover,
  .block-paragraphs-anchor-links .previous:active:focus {
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2012%22%3E%3Cpath%20fill%3D%22%230180ef%22%20d%3D%22M12%2C11.8c-0.2%2C0-0.4-0.1-0.5-0.2l-11-10C0.2%2C1.3%2C0.2%2C0.8%2C0.4%2C0.5c0.3-0.3%2C0.8-0.3%2C1.1-0.1L12%2C10l10.5-9.5%20c0.3-0.3%2C0.8-0.3%2C1.1%2C0.1c0.3%2C0.3%2C0.3%2C0.8%2C0%2C1.1l-11%2C10C12.4%2C11.7%2C12.2%2C11.8%2C12%2C11.8z%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/24px 12px;
  }
  .block-paragraphs-anchor-links .next {
    bottom: 0;
  }
  .block-paragraphs-anchor-links .previous {
    top: 0;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.breadcrumb {
  padding: 0;
  margin-bottom: 10px;
}
.breadcrumb > li {
  display: inline;
}

#colorbox.transparent {
  overflow: visible;
}
#colorbox.transparent #cboxWrapper,
#colorbox.transparent #cboxContent,
#colorbox.transparent #cboxLoadedContent {
  overflow: visible !important;
}
#colorbox.transparent #cboxContent {
  background: transparent;
}
#colorbox.transparent #cboxClose {
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
#colorbox.transparent #cboxClose.fadeIn {
  opacity: 1;
}
#colorbox.transparent .search-block-form {
  padding: 0 15px;
  opacity: 0;
  -webkit-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
          transform: translateX(-30px);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
#colorbox.transparent .search-block-form .input-group {
  width: 100%;
}
#colorbox.transparent .search-block-form.fadeIn {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

#cboxOverlay.transparent {
  background: #0180ef;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  opacity: 0 !important;
}
#cboxOverlay.transparent.fadeIn {
  opacity: .9 !important;
}

.copyright {
  padding: 20px 0;
}
.copyright:after {
  content: ' ';
  display: table;
  clear: both;
}
.copyright__left {
  float: left;
  width: 50%;
}
.copyright__left ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.copyright__left li {
  display: table;
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .copyright__left li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.copyright__left li:last-child {
  margin-right: 0;
}
.copyright__right {
  float: left;
  width: 50%;
  text-align: right;
}
a:hover .copyright__vectorbross, a:active .copyright__vectorbross, a:focus .copyright__vectorbross, a:hover:active .copyright__vectorbross {
  opacity: .75;
}

.field--name-field-video:not(.form-group),
.field--name-field-media-oembed-video:not(.form-group),
.field--type-video-embed-field:not(.form-group) {
  background: #f0f0f0;
  padding-bottom: 56.25%;
  height: 0;
  position: relative;
}
.field--name-field-video:not(.form-group):after,
.field--name-field-media-oembed-video:not(.form-group):after,
.field--type-video-embed-field:not(.form-group):after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 30px solid #ccc;
  border-bottom: 20px solid transparent;
  top: 50%;
  margin-top: -40px;
  left: 50%;
  margin-left: -11px;
}
.field--name-field-video:not(.form-group):before,
.field--name-field-media-oembed-video:not(.form-group):before,
.field--type-video-embed-field:not(.form-group):before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -70px;
  left: 50%;
  margin-left: -50px;
  border: 6px solid #ccc;
  width: 100px;
  height: 100px;
  border-radius: 99px;
}
.field--name-field-video:not(.form-group) iframe,
.field--name-field-media-oembed-video:not(.form-group) iframe,
.field--type-video-embed-field:not(.form-group) iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.field--name-field-video:not(.form-group) .no-cookies,
.field--name-field-media-oembed-video:not(.form-group) .no-cookies,
.field--type-video-embed-field:not(.form-group) .no-cookies {
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  text-align: left;
  z-index: 5;
}

.form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-item > label.form-required:after {
  content: '*';
  background: none;
  display: inline;
  padding-left: 4px;
  font-size: 12px;
}
.form-item-phone .control-label {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: baseline;
}
.form-item.fieldgroup {
  margin-bottom: 30px;
}
.form-item.fieldgroup > legend {
  border: none;
  margin: 0;
}

.form-actions {
  margin-top: 30px;
}

.form-required:after {
  background: none;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.drag-and-drop-page.loading .content {
  opacity: .3;
}
.drag-and-drop-page.loading:after {
  content: '';
  display: block;
  width: 46px;
  height: 46px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin: 1px 1px 1px -23px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #0180ef transparent #0180ef transparent;
  -webkit-animation: loading 1.2s linear infinite;
          animation: loading 1.2s linear infinite;
}

.az-visually-hidden {
  display: none;
}

.az-section {
  padding-top: 60px;
  padding-bottom: 30px;
}
.az-section .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.az-column {
  margin-bottom: 15px;
}

.az-ctnr.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.az-counter {
  text-align: center;
}

.az-tabs > .controls {
  top: 30px !important;
}

.az-element.equal-height-children > .az-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}
.az-element.equal-height-children > .az-element > .az-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.az-element.equal-height-children > .az-element > .az-panel > .panel-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.az-element.equal-height-children > .az-element > .az-panel > .panel-body > .az-button {
  margin-top: auto;
  margin-bottom: 10px;
}
.az-element.mask:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.az-element.mask > .az-ctnr {
  position: relative;
  z-index: 2;
}

@-webkit-keyframes fadeInLang {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLang {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.language-switcher--inline .links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.language-switcher--inline .links li {
  display: inline-block;
  margin-right: 10px;
  cursor: not-allowed;
}
.language-switcher--inline .links li a {
  display: block;
  cursor: pointer;
}
.language-switcher--inline .links li:last-child {
  margin-right: 0;
}
.language-switcher--dropdown {
  position: relative;
  width: 40px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
}
.language-switcher--dropdown .contextual {
  display: none;
}
.language-switcher--dropdown .links {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.language-switcher--dropdown .links li {
  line-height: 30px;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 40px;
  text-align: center;
  display: none;
  position: relative;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.language-switcher--dropdown .links li.is-active {
  display: block;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.language-switcher--dropdown .links li.is-active:after {
  content: '';
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cpath%20fill%3D%22%23ededed%22%20d%3D%22M7%2C11c-0.3%2C0-0.5-0.1-0.7-0.3l-5-5c-0.4-0.4-0.4-1%2C0-1.4s1-0.4%2C1.4%2C0L7%2C8.6l4.3-4.3c0.4-0.4%2C1-0.4%2C1.4%2C0s0.4%2C1%2C0%2C1.4l-5%2C5%20C7.5%2C10.9%2C7.3%2C11%2C7%2C11z%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/14px 14px;
  background-size: contain;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 10px;
}
.language-switcher--dropdown .links.active li {
  display: block;
  opacity: 0;
  -webkit-animation: fadeInLang .3s ease forwards;
          animation: fadeInLang .3s ease forwards;
  cursor: not-allowed;
}
.language-switcher--dropdown .links.active li a {
  display: block;
  cursor: pointer;
}
.language-switcher--dropdown .links.active li.is-active:before, .language-switcher--dropdown .links.active li.is-active:after {
  content: none;
}

.media-image {
  position: relative;
}
.media-image .field--name-field-copyright {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 13px;
}
.media-image .field--name-field-copyright:before {
  content: '\00a9';
  display: inline;
  padding-right: 5px;
}

.nav-tabs > li {
  margin-right: 10px;
  margin-bottom: 10px;
}
.nav-tabs > li > a {
  padding: 5px;
  border-radius: 0;
}

.menu--main, .menu--meta-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu--main > li, .menu--meta-menu > li {
  padding: 10px 0;
  position: relative;
  display: inline-block;
}
@media only screen and (min-width: 992px) {
  .menu--main > li, .menu--meta-menu > li {
    padding: 10px 20px;
  }
}
.menu--main > li:first-child, .menu--meta-menu > li:first-child {
  padding-left: 0;
}
.menu--main > li:last-child, .menu--meta-menu > li:last-child {
  padding-right: 0;
}
.menu--main > li > a[href="/search"], .menu--meta-menu > li > a[href="/search"] {
  text-indent: -9999px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2012%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23282828%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M11%2C11L8.6%2C8.6%22%2F%3E%3Ccircle%20fill%3D%22none%22%20stroke%3D%22%23282828%22%20stroke-width%3D%221.5%22%20cx%3D%225.5%22%20cy%3D%225.5%22%20r%3D%224.5%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/12px 12px;
}
@media only screen and (min-width: 992px) {
  .menu--main > li > a[href="/search"], .menu--meta-menu > li > a[href="/search"] {
    width: 20px;
  }
}
.menu--main > li:hover > .dropdown-menu, .menu--meta-menu > li:hover > .dropdown-menu {
  display: block;
}
.menu--main .dropdown-menu, .menu--meta-menu .dropdown-menu {
  max-width: 100%;
  padding: 0;
}
.menu--main .dropdown-menu > li > a, .menu--meta-menu .dropdown-menu > li > a {
  padding: 8px 20px;
  white-space: normal;
  position: relative;
}
.menu--main .dropdown-menu > li > a:after, .menu--meta-menu .dropdown-menu > li > a:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 10px;
  left: 10px;
  height: 1px;
}
.menu--footer {
  list-style: none;
  padding: 0;
}

.move-right > .inner-wrap {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.move-right .exit-off-canvas {
  display: none;
}

.right-small {
  z-index: 23;
  margin-right: 15px;
  height: 40px;
  width: 40px;
  margin-top: 1px;
}

.off-canvas-wrap {
  overflow: visible;
}

aside.right-off-canvas-menu,
aside.left-off-canvas-menu {
  padding-top: 12px;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  opacity: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all .35s ease !important;
  -o-transition: all .35s ease !important;
  transition: all .35s ease !important;
  text-align: center;
  position: fixed;
  display: none;
}
aside.right-off-canvas-menu.loaded,
aside.left-off-canvas-menu.loaded {
  display: block;
}
aside.right-off-canvas-menu ul.off-canvas-list li a,
aside.left-off-canvas-menu ul.off-canvas-list li a {
  border: none;
  opacity: 0;
  -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, -webkit-transform .3s ease;
  -o-transition: transform .3s ease, opacity .3s ease;
  transition: transform .3s ease, opacity .3s ease;
  transition: transform .3s ease, opacity .3s ease, -webkit-transform .3s ease;
}
aside.right-off-canvas-menu ul.off-canvas-list li:nth-child(0) a,
aside.left-off-canvas-menu ul.off-canvas-list li:nth-child(0) a {
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
aside.right-off-canvas-menu ul.off-canvas-list li:nth-child(1) a,
aside.left-off-canvas-menu ul.off-canvas-list li:nth-child(1) a {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
aside.right-off-canvas-menu ul.off-canvas-list li:nth-child(2) a,
aside.left-off-canvas-menu ul.off-canvas-list li:nth-child(2) a {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
aside.right-off-canvas-menu ul.off-canvas-list li:nth-child(3) a,
aside.left-off-canvas-menu ul.off-canvas-list li:nth-child(3) a {
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
aside.right-off-canvas-menu ul.off-canvas-list li:nth-child(4) a,
aside.left-off-canvas-menu ul.off-canvas-list li:nth-child(4) a {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
aside.right-off-canvas-menu ul.off-canvas-list li:nth-child(5) a,
aside.left-off-canvas-menu ul.off-canvas-list li:nth-child(5) a {
  -webkit-transition-delay: 0.7s;
       -o-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
aside.right-off-canvas-menu ul.off-canvas-list li:nth-child(6) a,
aside.left-off-canvas-menu ul.off-canvas-list li:nth-child(6) a {
  -webkit-transition-delay: 0.8s;
       -o-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
aside.right-off-canvas-menu ul.off-canvas-list li:nth-child(7) a,
aside.left-off-canvas-menu ul.off-canvas-list li:nth-child(7) a {
  -webkit-transition-delay: 0.9s;
       -o-transition-delay: 0.9s;
          transition-delay: 0.9s;
}
aside.right-off-canvas-menu ul.off-canvas-list li:nth-child(8) a,
aside.left-off-canvas-menu ul.off-canvas-list li:nth-child(8) a {
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
}
aside.right-off-canvas-menu ul.off-canvas-list li:nth-child(9) a,
aside.left-off-canvas-menu ul.off-canvas-list li:nth-child(9) a {
  -webkit-transition-delay: 1.1s;
       -o-transition-delay: 1.1s;
          transition-delay: 1.1s;
}
aside.right-off-canvas-menu ul.off-canvas-list li:nth-child(10) a,
aside.left-off-canvas-menu ul.off-canvas-list li:nth-child(10) a {
  -webkit-transition-delay: 1.2s;
       -o-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
aside.right-off-canvas-menu ul.off-canvas-list li:nth-child(11) a,
aside.left-off-canvas-menu ul.off-canvas-list li:nth-child(11) a {
  -webkit-transition-delay: 1.3s;
       -o-transition-delay: 1.3s;
          transition-delay: 1.3s;
}
aside.right-off-canvas-menu ul.off-canvas-list li:nth-child(12) a,
aside.left-off-canvas-menu ul.off-canvas-list li:nth-child(12) a {
  -webkit-transition-delay: 1.4s;
       -o-transition-delay: 1.4s;
          transition-delay: 1.4s;
}
.move-right aside.right-off-canvas-menu, .move-right
aside.left-off-canvas-menu {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.move-right aside.right-off-canvas-menu ul.off-canvas-list li a, .move-right
aside.left-off-canvas-menu ul.off-canvas-list li a {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
aside.right-off-canvas-menu .right-submenu,
aside.right-off-canvas-menu .left-submenu,
aside.left-off-canvas-menu .right-submenu,
aside.left-off-canvas-menu .left-submenu {
  width: 100%;
}
aside.right-off-canvas-menu .right-submenu .back a,
aside.right-off-canvas-menu .left-submenu .back a,
aside.left-off-canvas-menu .right-submenu .back a,
aside.left-off-canvas-menu .left-submenu .back a {
  text-align: left;
  padding: 18px 20px;
}
aside.right-off-canvas-menu .burger,
aside.left-off-canvas-menu .burger {
  position: absolute;
  right: 30px;
  top: 165px;
  z-index: 21;
  top: 30px;
}
aside.right-off-canvas-menu .burger .icon,
aside.left-off-canvas-menu .burger .icon {
  display: block;
  width: 40px;
  height: 40px;
}
aside.right-off-canvas-menu .burger .line,
aside.left-off-canvas-menu .burger .line {
  width: 24px;
  height: 4px;
  position: absolute;
  left: 4px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
aside.right-off-canvas-menu .burger .line-1,
aside.left-off-canvas-menu .burger .line-1 {
  top: 9px;
  -webkit-transform: rotate(45deg) translate(7px, -5px);
      -ms-transform: rotate(45deg) translate(7px, -5px);
          transform: rotate(45deg) translate(7px, -5px);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
}
aside.right-off-canvas-menu .burger .line-2,
aside.left-off-canvas-menu .burger .line-2 {
  top: 27px;
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-45deg) translate(7px, 5px);
      -ms-transform: rotate(-45deg) translate(7px, 5px);
          transform: rotate(-45deg) translate(7px, 5px);
}

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.page-title {
  text-align: center;
}
.page-title h1 {
  border: none;
}
.page-title .views-field-field-header-intro .btn + .btn {
  margin-left: 5px;
}
@media only screen and (max-width: 767px) {
  .page-title .views-field-field-header-intro .btn {
    display: table;
    margin: 30px auto 15px auto;
    min-width: 200px;
  }
  .page-title .views-field-field-header-intro .btn + .btn {
    margin-top: 15px;
    margin-left: auto;
  }
}
@media only screen and (min-width: 768px) {
  .page-title .page-header {
    opacity: 0;
    -webkit-animation: slideIn .5s ease .5s forwards;
            animation: slideIn .5s ease .5s forwards;
  }
  .page-title .views-field-field-header-intro {
    opacity: 0;
    -webkit-animation: slideIn .5s ease .75s forwards;
            animation: slideIn .5s ease .75s forwards;
  }
  .page-title .video-front {
    opacity: 0;
    -webkit-animation: slideIn .5s ease 1s forwards;
            animation: slideIn .5s ease 1s forwards;
  }
}

.pager {
  padding-left: 0;
  list-style: none;
}

.paragraph.animated .counter {
  opacity: 0;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}
.paragraph.animated .card {
  opacity: 0;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
}
.paragraph.animated .paragraph-image-text__text-column {
  opacity: 0;
  -webkit-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
          transform: translateX(-30px);
}
.paragraph.inview .card,
.paragraph.inview .counter,
.paragraph.inview .paragraph-image-text__text-column {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.paragraph.inview .paragraph-counters__counter:nth-child(1) .counter,
.paragraph.inview .paragraph-cards__card:nth-child(1) .card {
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}
.paragraph.inview .paragraph-counters__counter:nth-child(2) .counter,
.paragraph.inview .paragraph-cards__card:nth-child(2) .card {
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.paragraph.inview .paragraph-counters__counter:nth-child(3) .counter,
.paragraph.inview .paragraph-cards__card:nth-child(3) .card {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.paragraph.inview .paragraph-counters__counter:nth-child(4) .counter,
.paragraph.inview .paragraph-cards__card:nth-child(4) .card {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.paragraph.inview .paragraph-counters__counter:nth-child(5) .counter,
.paragraph.inview .paragraph-cards__card:nth-child(5) .card {
  -webkit-transition-delay: 0.8s;
       -o-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.paragraph.inview .paragraph-counters__counter:nth-child(6) .counter,
.paragraph.inview .paragraph-cards__card:nth-child(6) .card {
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
}
.paragraph.inview .paragraph-counters__counter:nth-child(7) .counter,
.paragraph.inview .paragraph-cards__card:nth-child(7) .card {
  -webkit-transition-delay: 1.2s;
       -o-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
.paragraph.inview .paragraph-counters__counter:nth-child(8) .counter,
.paragraph.inview .paragraph-cards__card:nth-child(8) .card {
  -webkit-transition-delay: 1.4s;
       -o-transition-delay: 1.4s;
          transition-delay: 1.4s;
}
.paragraph.inview .paragraph-counters__counter:nth-child(9) .counter,
.paragraph.inview .paragraph-cards__card:nth-child(9) .card {
  -webkit-transition-delay: 1.6s;
       -o-transition-delay: 1.6s;
          transition-delay: 1.6s;
}
.paragraph.inview .paragraph-counters__counter:nth-child(10) .counter,
.paragraph.inview .paragraph-cards__card:nth-child(10) .card {
  -webkit-transition-delay: 1.8s;
       -o-transition-delay: 1.8s;
          transition-delay: 1.8s;
}
.paragraph.inview .paragraph-counters__counter:nth-child(11) .counter,
.paragraph.inview .paragraph-cards__card:nth-child(11) .card {
  -webkit-transition-delay: 2s;
       -o-transition-delay: 2s;
          transition-delay: 2s;
}
.paragraph.inview .paragraph-counters__counter:nth-child(12) .counter,
.paragraph.inview .paragraph-cards__card:nth-child(12) .card {
  -webkit-transition-delay: 2.2s;
       -o-transition-delay: 2.2s;
          transition-delay: 2.2s;
}
.paragraph.small-container-title .paragraph__title {
  margin-left: auto;
  margin-right: auto;
  max-width: 770px;
}
.paragraph.medium-container-title .paragraph__title {
  margin-left: auto;
  margin-right: auto;
  max-width: 930px;
}
.paragraph.small-container > .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-left: 15px;
  padding-right: 15px;
}
.paragraph.medium-container > .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 1240px) {
  .paragraph.medium-container .row {
    margin: 0 -40px;
  }
  .paragraph.medium-container .col-md-6,
  .paragraph.medium-container .col-md-4,
  .paragraph.medium-container .col-md-8 {
    padding: 0 40px;
  }
}
@media only screen and (min-width: 768px) {
  .paragraph.large-title .paragraph__title {
    font-size: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .paragraph.medium-title .paragraph__title {
    font-size: 45px;
  }
}
.paragraph.center-title .paragraph__title {
  text-align: center;
}
.paragraph.bullets-number ol {
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.paragraph.bullets-number ol li {
  counter-increment: counter-incr;
  padding-top: 80px;
  position: relative;
  margin-bottom: 30px;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  white-space: pre-wrap;
}
.paragraph.bullets-number ol li:last-child {
  padding-bottom: 0;
}
.paragraph.bullets-number ol li:before {
  content: counter(counter-incr);
  position: absolute;
  left: 0;
  top: 0;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  background: #eee;
  font-size: 24px;
  font-weight: 600;
  color: #CACACA;
  border-radius: 99px;
}
@media only screen and (min-width: 768px) {
  .paragraph.bullets-number ol li {
    min-height: 72px;
    padding-left: 90px;
    padding-top: 0;
  }
  .paragraph.bullets-number ol li:before {
    width: 72px;
    height: 72px;
    line-height: 72px;
  }
}
.paragraph.bullets-number ol li .intro {
  margin-bottom: 0;
}

.popup-content {
  padding: 30px 15px 15px;
}

.search-icon {
  display: block;
  width: 40px;
  height: 40px;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2022%2022%22%3E%3Cpath%20d%3D%22M20.6%2C18.8L15.8%2C14c1-1.3%2C1.6-3%2C1.6-4.8c0-4.5-3.7-8.2-8.2-8.2S1%2C4.7%2C1%2C9.2c0%2C4.5%2C3.7%2C8.2%2C8.2%2C8.2c1.8%2C0%2C3.4-0.6%2C4.8-1.5%20l4.8%2C4.8c0.3%2C0.3%2C0.6%2C0.4%2C0.9%2C0.4s0.7-0.1%2C0.9-0.4C21.1%2C20.1%2C21.1%2C19.3%2C20.6%2C18.8z%20M3.6%2C9.2c0-3.1%2C2.5-5.5%2C5.5-5.5s5.5%2C2.5%2C5.5%2C5.5%20c0%2C3.1-2.5%2C5.5-5.5%2C5.5S3.6%2C12.2%2C3.6%2C9.2z%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/22px 22px;
  text-indent: -9999px;
}
.search-icon:hover {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2022%2022%22%3E%3Cpath%20fill%3D%22%230180ef%22%20d%3D%22M20.6%2C18.8L15.8%2C14c1-1.3%2C1.6-3%2C1.6-4.8c0-4.5-3.7-8.2-8.2-8.2S1%2C4.7%2C1%2C9.2c0%2C4.5%2C3.7%2C8.2%2C8.2%2C8.2c1.8%2C0%2C3.4-0.6%2C4.8-1.5%20l4.8%2C4.8c0.3%2C0.3%2C0.6%2C0.4%2C0.9%2C0.4s0.7-0.1%2C0.9-0.4C21.1%2C20.1%2C21.1%2C19.3%2C20.6%2C18.8z%20M3.6%2C9.2c0-3.1%2C2.5-5.5%2C5.5-5.5s5.5%2C2.5%2C5.5%2C5.5%20c0%2C3.1-2.5%2C5.5-5.5%2C5.5S3.6%2C12.2%2C3.6%2C9.2z%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/22px 22px;
}
.search-form {
  margin-top: 40px;
}
.search-form .form-submit {
  width: 39px;
  height: 39px;
  padding: 0;
  line-height: 43px;
}
.search-results {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}
.search-results li {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.search-results li:last-child {
  border-bottom: none;
}
.search-block-form .form-type-search {
  margin: 0;
  padding-left: 50px;
}
.search-block-form .form-type-search .form-search {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  font-size: 20px;
  color: #fff;
  height: 48px;
  padding-top: 0;
  padding-bottom: 0;
}
.search-block-form .form-type-search .form-search::-webkit-input-placeholder {
  color: #fff;
}
.search-block-form .form-type-search .form-search::-moz-placeholder {
  color: #fff;
}
.search-block-form .form-type-search .form-search:-ms-input-placeholder {
  color: #fff;
}
.search-block-form .form-type-search .form-search::-ms-input-placeholder {
  color: #fff;
}
.search-block-form .form-type-search .form-search::placeholder {
  color: #fff;
}
.search-block-form .form-type-search .form-search:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.search-block-form .form-type-search .form-submit {
  margin-left: 15px;
  width: 48px;
  height: 48px;
  padding: 0;
}
.search-block-form .form-type-search .form-submit .icon {
  font-size: 20px;
  line-height: 48px;
}
.search-block-form .description {
  color: #fff;
  opacity: .75;
}

.share__link {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  border-radius: 0;
  background-color: transparent;
  margin-right: 15px;
  display: inline-block;
}
.share__link:hover {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  opacity: .6;
}
.share__link--facebook {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23C5C5C5%22%20d%3D%22M41.3%2033.3l1.7-6.3h-7v-5.7c0-2%201-2.3%204-2.3h3v-7h-5.7c-5.5%200-9.3%203.2-9.3%209.3v5.7h-7v7h7v18h8v-18.7h5.3z%22%2F%3E%3C%2Fsvg%3E");
}
.share__link--twitter {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23C5C5C5%22%20d%3D%22M52%2020.3c-1.5.7-3.7%201.5-5.3%201.7%201.7-1.1%203.3-3.5%204-5.3-1.3.8-2.8%201.9-4.3%202.4l-1.1-1.1c-1.5-1.6-2.9-2.7-5.3-2.7-4.5%200-8%203.5-8%208%200%20.5%200%20.9.1%201.3h-.1c-8%200-13.3-1.7-17.3-6.7-.7%201.2-1.3%202.5-1.3%204%200%202.8%201.7%205.2%204%206.7-1.3%200-2.9-.7-4-1.3%200%204%205.6%208.5%209.3%209.3-1.3%201.3-6.1.1-6.7%200%201.1%203.2%204.4%205.2%208%205.3-2.8%202.1-6.1%203.3-10%203.3-.7%200-1.3%200-2-.1%203.6%202.3%208.7%203.5%2013.3%203.5%2015.1.1%2022.7-11.8%2022.7-22.6v-1.3c1.6-1.2%202.9-2.8%204-4.4z%22%2F%3E%3C%2Fsvg%3E");
}
.share__link--linkedin {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cg%20fill%3D%22%23C5C5C5%22%3E%3Cpath%20d%3D%22M27%2026h7l-.1%203.4c.9-1.9%203.5-3.5%206.9-3.5%207.3%200%208.1%204.1%208.1%2010.4v12.7h-7l.1-11.6c0-2.7.3-5.7-3.5-5.7-4.7%200-4.7%202.8-4.7%205.7l.2%2011.6h-7v-23z%22%2F%3E%3Cpath%20d%3D%22M16%2026h7v23h-7z%22%2F%3E%3Ccircle%20cx%3D%2219.5%22%20cy%3D%2218.3%22%20r%3D%224%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 48px;
  width: 48px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  top: 50%;
  margin-top: -24px;
  padding: 0;
  border: none;
  outline: none;
  z-index: 5;
  background-size: contain;
}
.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  opacity: .2;
  cursor: not-allowed;
}
.slick-prev:hover,
.slick-next:hover {
  background-size: contain;
}

.slick-prev {
  left: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.slick-next {
  right: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  top: 100%;
  margin: 20px 0 0;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 8px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  display: block;
  height: 10px;
  width: 10px;
  padding: 0;
  border-radius: 99px;
  cursor: pointer;
  text-indent: -9999px;
}

.snippet-vertical {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.snippet-vertical__content {
  padding: 15px;
}
@media only screen and (min-width: 768px) {
  .snippet-vertical__content {
    padding: 20px;
  }
}
.snippet-vertical__button {
  margin-top: auto;
  padding: 0 20px 20px 20px;
}
.snippet-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 479px) {
  .snippet-horizontal {
    display: block;
  }
}
.snippet-horizontal__title {
  margin-bottom: 15px;
}
.snippet-horizontal__image {
  -webkit-box-flex: 33.333333%;
      -ms-flex: 33.333333% 0 0px;
          flex: 33.333333% 0 0;
  max-width: 400px;
}
@media only screen and (max-width: 479px) {
  .snippet-horizontal__image {
    float: left;
    width: 33.3333%;
    margin-right: 15px;
  }
}
.snippet-horizontal__content {
  padding: 20px;
}
.snippet-horizontal__button {
  margin-top: 20px;
}

.tabs__navigation, .az-tabs .nav-tabs {
  margin-bottom: 10px;
}
.tabs__content .tab-pane > .field--name-field-media-image, .az-tabs .az-tab .tab-pane > .field--name-field-media-image {
  float: right;
  width: 50%;
  padding: 0 0 10px 30px;
  max-width: 480px;
}

.timeline-item {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 20px;
}
@media only screen and (min-width: 768px) {
  .timeline-item {
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 120px;
    margin-bottom: 90px;
  }
}
@media only screen and (min-width: 992px) {
  .timeline-item {
    padding: 50px;
    margin-bottom: 120px;
  }
}
.timeline-item:before, .timeline-item:after {
  content: '';
  position: absolute;
}
.timeline-item:before {
  width: 24px;
  height: 24px;
  top: -12px;
  border-radius: 99px;
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  .timeline-item:before {
    width: 36px;
    height: 36px;
    top: -18px;
  }
}
.timeline-item:after {
  width: 1px;
  height: 120px;
  top: -121px;
  margin-top: -1px;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .timeline-item:after {
    height: 180px;
    top: -181px;
  }
}
.timeline-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.timeline-item:nth-child(even):before {
  left: 24px;
}
@media only screen and (min-width: 768px) {
  .timeline-item:nth-child(even):before {
    left: 36px;
  }
}
.timeline-item:nth-child(even):after {
  left: 36px;
}
@media only screen and (min-width: 768px) {
  .timeline-item:nth-child(even):after {
    left: 54px;
  }
}
.timeline-item:nth-child(even) .timeline-item__year {
  right: 0;
}
.timeline-item:nth-child(odd):before {
  right: 24px;
}
@media only screen and (min-width: 768px) {
  .timeline-item:nth-child(odd):before {
    right: 36px;
  }
}
.timeline-item:nth-child(odd):after {
  right: 36px;
}
@media only screen and (min-width: 768px) {
  .timeline-item:nth-child(odd):after {
    right: 54px;
  }
}
.timeline-item:nth-child(odd) .timeline-item__year {
  left: 0;
}
.timeline-item:first-child:before, .timeline-item:first-child:after {
  content: none;
}
.timeline-item + .timeline-item {
  margin-top: 120px;
}
@media only screen and (min-width: 768px) {
  .timeline-item + .timeline-item {
    margin-top: 180px;
  }
}
.timeline-item__year {
  position: absolute;
}
.timeline-item__image {
  float: left;
  width: 33.3333%;
  margin-right: 15px;
}
@media only screen and (min-width: 768px) {
  .timeline-item__image {
    float: none;
    width: auto;
    margin-right: 0;
    -webkit-box-flex: 33.333333%;
        -ms-flex: 33.333333% 0 0px;
            flex: 33.333333% 0 0;
  }
}
.timeline-item__title {
  font-size: 25px;
}
@media only screen and (min-width: 768px) {
  .timeline-item__content {
    width: calc(66.666666% - 30px);
  }
}

.user {
  margin-bottom: 20px;
}
.user__image {
  float: left;
  width: 50px;
  margin-right: 15px;
}
.user__image img {
  border-radius: 99px;
  width: 50px;
}
.user__name {
  font-weight: bold;
  line-height: 50px;
  font-size: 16px;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.view--has-ajax.loading .view-content {
  position: relative;
}
.view--has-ajax.loading .view-content > *,
.view--has-ajax.loading .view-empty {
  opacity: .3;
}
.view--has-ajax.loading .view-content:after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  position: fixed;
  opacity: 1;
  top: 50%;
  left: 50%;
  margin: 1px 1px 1px -25px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #0180ef transparent #2b979d transparent;
  -webkit-animation: loading 1.2s linear infinite;
          animation: loading 1.2s linear infinite;
  z-index: 99999;
}

.webform-flexbox {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}
@media only screen and (min-width: 768px) {
  .webform-flexbox {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media only screen and (min-width: 768px) {
  .webform-flex--container {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.well {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* No files to import found in layout/* */
