{#
/**
 * @file
 * Default theme implementation to webform confirmation.
 *
 * Available variables:
 * - progress: Progress bar.
 * - message: Confirmation message.
 * - back_url: URL to the previous webform submission.
 *
 * @see template_preprocess_webform_confirmation()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform/webform.confirmation') }}

{% if progress %}
  {{ progress }}
{% endif %}

<div{{ attributes.addClass('webform-confirmation') }}>
  {% if message %}
    <div class="webform-confirmation__message">{{ message }}</div>
  {% endif %}
</div>
<script>
if(typeof Cookiebot !== 'undefined') {
	window.dataLayer = window.dataLayer || [];
	window.dataLayer.push({
		'event': 'formSubmitted',
		'formID': '{{ webform.id }}'
	});
} else {
	window.addEventListener('CookiebotOnAccept', function() {
		window.dataLayer = window.dataLayer || [];
		window.dataLayer.push({
			'event': 'formSubmitted',
			'formID': '{{ webform.id }}'
		});
	});
}
</script>
