@mixin icon-arrow($color: #000) {
	background: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path fill="#{$color}" d="M7,11c-0.3,0-0.5-0.1-0.7-0.3l-5-5c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0L7,8.6l4.3-4.3c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-5,5 C7.5,10.9,7.3,11,7,11z"/></svg>') no-repeat center center / 14px 14px;
}
@mixin icon-arrow-large($color: #000) {
	background: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 12"><path fill="#{$color}" d="M12,11.8c-0.2,0-0.4-0.1-0.5-0.2l-11-10C0.2,1.3,0.2,0.8,0.4,0.5c0.3-0.3,0.8-0.3,1.1-0.1L12,10l10.5-9.5 c0.3-0.3,0.8-0.3,1.1,0.1c0.3,0.3,0.3,0.8,0,1.1l-11,10C12.4,11.7,12.2,11.8,12,11.8z"/></svg>') no-repeat center center / 24px 12px;
}
@mixin small-container($padding: true) {
	margin-left: auto;
	margin-right: auto;

	@if $padding {
		max-width: $container-small;
		padding-left: 15px;
		padding-right: 15px;
	} @else {
		max-width: $container-small - 30px;
	}
}
@mixin medium-container($padding: true) {
	margin-left: auto;
	margin-right: auto;

	@if $padding {
		max-width: $container-medium;
		padding-left: 15px;
		padding-right: 15px;
	} @else {
		max-width: $container-medium - 30px;
	}
}
@mixin large-container($padding: true) {
	margin-left: auto;
	margin-right: auto;

	@if $padding {
		max-width: $container-large;
		padding-left: 15px;
		padding-right: 15px;
	} @else {
		max-width: $container-large - 30px;
	}
}
@mixin sticky-nav {
	@media #{$small-up} {
		position: relative;
	}

	.item-list {
		margin-left: -15px;
		margin-right: -15px;
		overflow: scroll;
		scroll-behavior: smooth;

		@media #{$small-up} {
			margin-left: 0;
			margin-right: 0;
			background: transparent;
			overflow: visible;
		}

		&--scroll {
			@media #{$small-up} {
				margin-top: 50px;
				margin-bottom: 50px;
				max-height: 220px;
				overflow: hidden;

				.nav-tabs {
					&:after {
						content: none;
					}
					& > li {
						border: none;
						padding-right: 0;

						a {
							transform-origin: right center;
							transition: transform .2s ease;
						}

						&.active {
							border: none;
							padding-bottom: 15px;
							padding-right: 0;

							a {
								transform: scale(1.66);
								font-weight: normal;
							}
						}
					}
				}
			}
		}
	}
	.nav-tabs {
		display: flex;
		
		@media #{$small-up} {
			display: block;
			position: relative;
		}

		& > li {
			list-style: none;
			position: relative;
			text-align: right;
			margin: 0;
			white-space: nowrap;

			@media #{$small-up} {
				float: none;
				position: static;
				white-space: normal;
			}

			a {
				background: transparent;
				padding: 0;
				display: block;
			}
		}
	}
	.next,
	.previous {
		display: none;
	}

	@media #{$small-up} {
		.next,
		.previous {
			display: block;
			position: absolute;
			right: 0;
			width: 36px;
			height: 36px;
			border: none;
			background: transparent;
			font-size: 0;
			@include icon-arrow-large($color-secondary);

			&:hover,
			&:active,
			&:focus,
			&:active:hover,
			&:active:focus {
				@include icon-arrow-large($color-primary);
			}
		}
		.next {
			bottom: 0;
		}
		.previous {
			top: 0;
			transform: rotate(180deg);
		}
	}
}