$color-primary: #0180ef;
$color-primary-dark: darken($color-primary, 10%);
$color-secondary: #2b979d;
$color-white: #fff;
$color-grey: #ededed;
$color-black: #282828;

$body-bg: $color-white;
$text-color: $color-black;

// Links
$link-color: $color-secondary;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: underline;

// Typo


$font-family-sans-serif: 'Arial', sans-serif;
$font-family-serif: 'Times New Roman', serif;
$font-family-base: $font-family-sans-serif;

$font-size-base:          15px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px
$line-height-base: 1.8;
$line-height-computed: 40px;

// Headings
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: bold;
$headings-line-height: 1.2;
$headings-color: $color-black;

$font-size-h1:            36px;
$font-size-h2:            24px;
$font-size-h3:            20px;
$font-size-h4:            16px;
$font-size-h5:            16px;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px



//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1240px;
$screen-lg-min:              $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

$large-up: 'only screen and (min-width: #{$screen-lg})';
$medium-up: 'only screen and (min-width: #{$screen-md})';
$medium-down: 'only screen and (max-width: #{$screen-md - 1})';
$small-up: 'only screen and (min-width: #{$screen-sm})';
$small-only: 'only screen and (max-width: #{$screen-sm - 1})';
$xsmall-up: 'only screen and (min-width: #{$screen-xs})';
$xsmall-only: 'only screen and (max-width: #{$screen-xs - 1})';

$grid-float-breakpoint:     $screen-sm-min;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px;
$padding-base-horizontal:   12px;

$padding-large-vertical:    10px;
$padding-large-horizontal:  16px;

$padding-small-vertical:    5px;
$padding-small-horizontal:  10px;

$padding-xs-vertical:       1px;
$padding-xs-horizontal:     5px;

$line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5;

$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;


//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                    40px;
$navbar-margin-bottom:             0;
$navbar-border-radius:             0;
$navbar-padding-horizontal:        0;
$navbar-padding-vertical:          0;

$navbar-default-color:             transparent;
$navbar-default-bg:                transparent;
$navbar-default-border:            transparent;

// Navbar links
$navbar-default-link-color:                $color-black;
$navbar-default-link-hover-color:          $color-primary;
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         $color-primary;
$navbar-default-link-active-bg:            transparent;

//== Tabs
$nav-tabs-border-color:                     transparent;

$nav-tabs-link-hover-border-color:          transparent;

$nav-tabs-active-link-hover-bg:             darken($color-primary, 10%);
$nav-tabs-active-link-hover-color:          $color-white;
$nav-tabs-active-link-hover-border-color:   transparent;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             100%;
$container-desktop:            100%;
$container-large-desktop:      100%;
$container-sm:             	   100%;
$container-md:             	   100%;
$container-lg:             	   100%;
// Vector bross containers (used for utility classes)
$container-large: 1200px;
$container-medium: 960px;
$container-small: 800px;

//== Forms
//
//##

//** `<input>` background color
$input-bg:                       #fff;
//** `<input disabled>` background color
$input-bg-disabled:              $color-grey;

//** Text color for `<input>`s
$input-color:                    $color-black;
//** `<input>` border color
$input-border:                   #BDBDBD;

// TODO: Rename `$input-border-radius` to `$input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
$input-border-radius:            0;
//** Large `.form-control` border radius
$input-border-radius-large:      0;
//** Small `.form-control` border radius
$input-border-radius-small:      0;

//** Border color for inputs on focus
$input-border-focus:             $color-secondary;

//** Placeholder text color
$input-color-placeholder:        $color-grey;

//** Default `.form-control` height
$input-height-base:              56px;
//** Large `.form-control` height
$input-height-large:             56px;
//** Small `.form-control` height
$input-height-small:             40px;

//** `.form-group` margin
$form-group-margin-bottom:       15px;

$legend-color:                   $color-black;
$legend-border-color:            #e5e5e5;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            12px;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  6px;

//** Default background color used for all tables.
$table-bg:                      $color-white;
//** Background color used for `.table-striped`.
$table-bg-accent:               $color-white;
//** Background color used for `.table-hover`.
$table-bg-hover:                $color-white;
$table-bg-active:               $color-white;

//** Border color for table and cell borders.
$table-border-color:            $color-grey;


//== Wells
//
//##

$well-bg:                     $color-grey;
$well-border:                 $color-grey;


//== Pagination
//
//##

$pagination-color:                     $color-secondary;
$pagination-bg:                        $color-white;
$pagination-border:                    #ddd;

$pagination-hover-color:               $color-secondary;
$pagination-hover-bg:                  $color-grey;
$pagination-hover-border:              #ddd;

$pagination-active-color:              #fff;
$pagination-active-bg:                 $color-secondary;
$pagination-active-border:             $color-secondary;

$pagination-disabled-color:            $color-grey;
$pagination-disabled-bg:               #fff;
$pagination-disabled-border:           #ddd;

