.header {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid $color-grey;

	.logo {
		width: 60px;

		@media #{$small-up} {
			width: 100px;
		}
	}
	.navbar {
		&-header {
			position: relative;
			z-index: 5;
			width: 100%;
		}
		&-collapse {
			position: relative;

			@media #{$small-only} {
				background: $color-secondary;
				margin: 0 -15px;
				padding: 10px;
			}
		}
		&-toggle {
			border: none;
			position: relative;
			float: right;

			.icon-bar {
				background: $color-primary;
			}
		}
	}

	.region-navigation {
		display: flex;
		justify-content: space-between;
		align-content: center;
		align-items: center;

		@media #{$medium-down} {
			nav {
				display: none;
			}
		}
	}

	.block-menu {
		display: none;

		@media #{$small-up} {
			display: block;
		}
	}
}