{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.secondary_header: Items for the secondary header region
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div role="document" class="page off-canvas-wrap" data-offcanvas="">
  <div class="inner-wrap">
    <aside class="left-off-canvas-menu">
      {# Navigation (collapsible) #}
      {% if page.navigation_collapsible %}
          {{ page.navigation_collapsible }}
          <div class="burger burger--close">
            <a class="hidden-lg icon left-off-canvas-toggle" href="#">
              <div class="line line-1"></div>
              <div class="line line-2"></div>
            </a>
          </div>
      {% endif %}
    </aside>

{# Header #}
{% if page.header %}
  {% block header %}
    {{ page.header }}
  {% endblock %}
{% endif %}

{# Navbar #}
{% if page.navigation %}
  {% block navbar %}
    {%
      set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
      ]
    %}
    <header class="header" role="banner">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            {% if page.navigation_collapsible %}
              <button type="button" class="left-off-canvas-toggle navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            {% endif %}
            {{ page.navigation }}
          </div>
        </div>
      </nav>
    </header>
  {% endblock %}
{% endif %}


{# Page Title #}
{% if page.page_title %}
  {% block page_title %}
    <div class="page-title {{ node.field_banner and node.field_banner.getValue() ? 'page-title--has-banner' : 'page-title--has-no-banner' }}">
      <header role="banner" id="page-title" class="container page-title__container">
        {{ page.page_title }}
      </header>
    </div>
  {% endblock %}
{% endif %}

{# Highlighted #}
{% if page.highlighted %}
  {% block highlighted %}
    {{ page.highlighted }}
  {% endblock %}
{% endif %}

{# Content Top #}
{% if page.content_top|render|striptags|trim is not empty %}
  {% block content_top %}
    <div class="content-top">
      {{ page.content_top }}
    </div>
  {% endblock %}
{% endif %}

{# Main #}
{% block main %}
  <div role="main" class="main-container js-quickedit-main-content {{ page.sidebar_first|render|striptags|trim or page.sidebar_second|render|striptags|trim or page.sidebar_sticky|render|striptags|trim or node is empty ? 'container' }}">

    {% if page.sidebar_first|render|striptags|trim or page.sidebar_second|render|striptags|trim or page.sidebar_sticky|render|striptags|trim %}
      <div class="row">
    {% endif %} 

      {# Sidebar First #}
      {% if page.sidebar_first|render|striptags|trim %}
        {% block sidebar_first %}
          <aside class="sidebar sidebar--left col-sm-4 col-md-3" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Sidebar Sticky #}
      {% if page.sidebar_sticky|render|striptags|trim %}
        {% block sidebar_sticky %}
          <aside class="sidebar sidebar--sticky col-sm-4 col-md-3" role="complementary">
            {{ page.sidebar_sticky }}
          </aside>
        {% endblock %}
      {% endif %}


      {# Content #}
      {%
        set content_classes = [
          'main',
          (page.sidebar_first|render|striptags|trim or page.sidebar_sticky|render|striptags|trim) and page.sidebar_second|render|striptags|trim ? 'col-sm-4 col-md-6',
          (page.sidebar_first|render|striptags|trim or page.sidebar_sticky|render|striptags|trim) and page.sidebar_second|render|striptags|trim is empty ? 'col-sm-8 col-md-9',
          page.sidebar_second|render|striptags|trim and (page.sidebar_first|render|striptags|trim or page.sidebar_sticky|render|striptags|trim) is empty ? 'col-sm-8 col-md-9',
        ]
      %}
      <section{{ content_attributes.addClass(content_classes) }}>
        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>

      {# Sidebar Second #}
      {% if page.sidebar_second|render|striptags|trim %}
        {% block sidebar_second %}
          <aside class="col-sm-4 col-md-3" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}

    {% if page.sidebar_first|render|striptags|trim or page.sidebar_second|render|striptags|trim or page.sidebar_sticky|render|striptags|trim %}
      </div>
    {% endif %}
  </div>
{% endblock %}

{# Content Bottom #}
{% if page.content_bottom %}
  {% block content_bottom %}
    <div class="content-bottom">
      {{ page.content_bottom }}
    </div>
  {% endblock %}
{% endif %}

{# Popup #}
{% if page.popup %}
  {% block popup %}
    {{ page.popup }}
  {% endblock %}
{% endif %}

  {% block footer %}
      <footer class="footer clearfix" role="contentinfo">
          <div class="container">
              {{ page.footer }}
          </div>

          {% if page.footer_legal %}
              <div class="footer-legal-wrapper">
                  <div class="container">
                      {{ page.footer_legal }}
                  </div>
              </div>
          {% endif %}
      </footer>
  {% endblock %}

  <a href="#" class="exit-off-canvas"></a>
</div>
</div>