{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.secondary_header: Items for the secondary header region
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div role="document" class="page off-canvas-wrap" data-offcanvas="">
  <div class="inner-wrap">
    <aside class="left-off-canvas-menu">
      {# Navigation (collapsible) #}
      {% if page.navigation_collapsible %}
        {{ page.navigation_collapsible }}
        <div class="burger burger--close">
          <a class="hidden-lg icon left-off-canvas-toggle" href="#">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
          </a>
        </div>
      {% endif %}
    </aside>

    {# Header #}
    {% if page.header %}
      {% block header %}
        {{ page.header }}
      {% endblock %}
    {% endif %}

    {# Navbar #}
    {% if page.navigation %}
      {% block navbar %}
        {%
          set navbar_classes = [
          'navbar',
          theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
          theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
        ]
        %}
        <header class="header" role="banner">
          <nav class="navbar navbar-default">
            <div class="container">
              <div class="navbar-header">
                {% if page.navigation_collapsible %}
                  <button type="button" class="left-off-canvas-toggle navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                {% endif %}
              </div>
              {{ page.navigation }}
            </div>
          </nav>
        </header>
      {% endblock %}
    {% endif %}

    {# Highlighted #}
    {% if page.highlighted %}
      {% block highlighted %}
        {{ page.highlighted }}
      {% endblock %}
    {% endif %}

    {# Content Top #}
    {% if page.content_top|render|striptags|trim is not empty %}
      {% block content_top %}
        <div class="content-top">
          {{ page.content_top }}
        </div>
      {% endblock %}
    {% endif %}

    <div class="main-container container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-8 col-lg-offset-3 col-md-offset-3 col-xs-offset-2 text-center notfound">
          <h1>{{ 'Page not found'|t }}</h1>
          <p class="rtecenter"><a class="btn btn-lg btn-primary" href="{{ url('<front>') }}">{{ 'Back to homepage'|t }}</a></p>
          </br>
        </div>
      </div>
    </div>

    {% block footer %}
      <footer class="footer clearfix" role="contentinfo">
        <div class="container">
          {{ page.footer }}
        </div>

        {% if page.footer_legal %}
          <div class="footer-legal-wrapper">
            <div class="container">
              {{ page.footer_legal }}
            </div>
          </div>
        {% endif %}
      </footer>
    {% endblock %}

    <a href="#" class="exit-off-canvas"></a>
  </div>
</div>
