.accordion,
.az-accordion,
.panel-group {

	.panel {
		box-shadow: none;
		border: none;
		padding: 0;
		background: transparent;

		& > .panel-heading {
			background: transparent;
			padding: 0;

			h4,
			.panel-title {
				font-size: 20px;
			}
			a {
				display: block;
				text-decoration: none;
				position: relative;
				padding: 20px;
				transition: all .3s ease;
				padding-right: 60px;
				padding-left: 0;
				color: $color-primary;
				border-bottom: 1px solid $color-grey;
				font-size: 18px;

				&:after {
					content: '';
					width: 24px;
					height: 24px;
					background-image: url("../images/arrow.svg");
					transform: rotate(90deg);
					position: absolute;
					background-size: cover;
					background-repeat: no-repeat;
					right: 20px;
					top: 20px;
					transition: all .3s ease;
				}
				&[aria-expanded="true"] {
					&:after {
						transform: rotate(270deg);
					}
				}
				&:hover {
					color: $color-secondary;
				}
			}

			& + .panel-collapse {
				.panel-body {
					border-top: none;
					background: transparent;
				}
			}
		}
		.panel-body {
			padding: 75px 60px 75px 60px;
			& > div {
				max-width: 720px;
				margin: 0 auto;
			}
		}

		.btn {
			font-size: 12px;
		}
	}
}

