.block {
	&-vb-lb-anchor-links {
		.item-list {
			background: $color-white;
		}
		.nav-tabs {
			border-bottom: 1px solid $color-grey;

			@media #{$small-up} {
				border: none;
			}

			& > li {
				border-bottom: 1px solid $color-grey;
				position: relative;
				top: 1px;
				padding: 15px 30px;

				@media #{$small-up} {
					border-bottom: none;
					top: 0;
				}

				a {
					color: $color-black;
				}
				&.active {
					border-bottom: 4px solid $color-primary;
					padding-bottom: 12px;

					@media #{$small-up} {
						border-bottom: none;
						padding-bottom: 15px;
					}
					a {
						color: $color-primary;
					}
				}
			}
		}
	}

	&-vb-share {
		text-align: center;
		margin-bottom: 25px;

		.block-title {
			display: none;
		}
		position: relative;

		.share__link {
			z-index: 3;
		}

		&:after {
			content: '';
			width: 100%;
			height: 1px;
			background-color: $color-grey;
			display: block;
			position: absolute;
			bottom: 15px;
			z-index: -2;
		}

		&:before {
			content: '';
			width: 200px;
			height: 1px;
			background-color: $color-white;
			display: block;
			position: absolute;
			bottom: 15px;
			left: 50%;
			transform: translateX(-50%);
			z-index: -1;
		}
	}
}