.btn {
	@extend %button;

	&-default {
		background: $color-secondary;
		color: $color-white;
		
		&:hover,
		&:active,
		&:focus,
		&:active:hover,
		&:active:focus {
			background: darken($color-primary, 10%);
			color: $color-white;
		}
		&[disabled],
		&[disabled]:hover {
			background: lighten($color-secondary, 10%);
			color: $color-white;
		}
	}
	&-primary,
	&-success {
		background: $color-primary;
		color: $color-white;

		&:hover,
		&:active,
		&:focus,
		&:active:hover,
		&:active:focus {
			background: darken($color-primary, 10%);
			color: $color-white;
		}
		&[disabled],
		&[disabled]:hover {
			background: lighten($color-primary, 10%);
			color: $color-white;
		}
	}
	&-info {
		background: #eee;
		color: $color-black;

		&:hover,
		&:active,
		&:focus,
		&:active:hover,
		&:active:focus {
			background: darken(#eee, 10%);
			color: $color-black;
		}
		&[disabled],
		&[disabled]:hover {
			background: #eee;
			color: #999;
		}
	}
	&-link {
		background: $color-white;
		color: $color-black;

		&:hover,
		&:active,
		&:focus,
		&:active:hover,
		&:active:focus {
			background: $color-white;
			color: $color-primary;
			text-decoration: none;
		}
	}
	&-lg {
		font-size: 18px;
	}
	&-md {
		font-size: 16px;
	}
	&-sm {
		font-size: 13px;
	}
}
