.card {
  &__readmore {
    font-weight: 600;
    margin-top: 20px;
    text-decoration: underline;
  }

  &__text {
    color: $color-black;
  }


  &__title {
    margin-top: 20px !important;
  }

  .background-grey &,
  .background-primary  &,
  .background-secondary  & {
    padding: 30px;
    background-color: $color-white;
    color: $color-black;

    @media #{$small-up} {
      padding: 30px 30px 75px 30px;
    }
  }
}