.container {
	max-width: $container-large;

	&--medium {
		max-width: $container-medium;
	}
	&--small {
		max-width: $container-small;
	}

	.col-md-9 & {
		padding-left: 0;
		padding-right: 0;
		max-width: 100%;
	}
}