.copyright {
	background: $color-primary;
	color: $color-white;
	font-size: 14px;

	a {
		color: $color-white;

		&:hover,
		&:active,
		&:focus,
		&:hover:active {
			color: $color-white;
			text-decoration: underline;
		}
	}
}