.cta {
	text-align: center;
	background: $color-secondary;
	color: $color-white;

	a:not(.btn) {
		color: $color-primary;
	}
	&__title {
		color: $color-white;
	}

	@media #{$small-up} {
		padding-left: 30px;
		padding-right: 30px;
	}
	@media #{$medium-up} {
		padding-left: 60px;
		padding-right: 60px;
	}

	&__body {
		font-size: 15px;
		margin-bottom: 0;

		p {
			font-size: inherit;
		}
	}
	&__link {
		margin-top: 20px;
	}

	.region-content-bottom & {
		background: transparent;
	}
}