.error-page {
	background: #f0f0f0;
	text-align: center;

	.container {
		padding: 30px;
		margin-top: 60px;
		border: 1px solid #ccc;
		background: #fff;
	}
	&__logo {
		width: 300px;
		height: 150px;
		margin: 30px auto;
		background: url(__logo-placeholder__) no-repeat center center / contain;
	}
	.invisible {
		display: none;
	}
}