.views-exposed-form {
	.form--inline {
		& > .form-item {
			margin: 0;

			&.fieldgroup {
				float: none;
				margin: 0;
			}
		}
		.form-radios {
			.form-radio {
				display: none;

				&:checked {
					& + .control-label {
						background: $color-primary;
						border-color: $color-primary;
						color: $color-white;
					}
				}
			}
			.control-label {
				display: block;
				background: $color-grey;
				padding: 10px 20px;
				font-weight: 600;
				width: 100%;
				text-align: center;

				@media #{$xsmall-up} {
					width: auto;
				}

				&:before,
				&:after {
					content: none;
				}
			}
			.form-item.form-type-radio {
				display: inline-block;
				margin: 0 10px 0 0;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}