.file {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  font-size: inherit;
  position: relative;
  background: inline-svg('<svg width="22" height="27" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 27"><path fill="#{$color-border}" d="M20.4 7.4l-5.8-5.8c-.4-.4-.9-.6-1.4-.6h-10.2c-1.1 0-2 .9-2 2v21c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-15.2c0-.5-.2-1-.6-1.4zm-6.4-3.6l4.2 4.2h-3.7c-.3 0-.5-.2-.5-.5v-3.7zm-11 20.2v-21h9v4.5c0 1.4 1.1 2.5 2.5 2.5h4.5v14h-16z"/></svg>') no-repeat 0 25px / 44px 54px;
  overflow: hidden;
  transition: all .3s ease;
  cursor: pointer;
  border-bottom: 1px solid $color-border;
  padding-bottom: 10px;
  position: relative;
  background-size: 36px;
  &:hover {
    background: inline-svg('<svg width="22" height="27" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 27"><path fill="#{$color-primary}" d="M20.4 7.4l-5.8-5.8c-.4-.4-.9-.6-1.4-.6h-10.2c-1.1 0-2 .9-2 2v21c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-15.2c0-.5-.2-1-.6-1.4zm-6.4-3.6l4.2 4.2h-3.7c-.3 0-.5-.2-.5-.5v-3.7zm-11 20.2v-21h9v4.5c0 1.4 1.1 2.5 2.5 2.5h4.5v14h-16z"/></svg>') no-repeat 0 25px / 44px 54px;
  }

  .paragraph--background-secondary & {
    background: inline-svg('<svg width="22" height="27" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 27"><path fill="#{$color-secondary}" d="M20.4 7.4l-5.8-5.8c-.4-.4-.9-.6-1.4-.6h-10.2c-1.1 0-2 .9-2 2v21c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-15.2c0-.5-.2-1-.6-1.4zm-6.4-3.6l4.2 4.2h-3.7c-.3 0-.5-.2-.5-.5v-3.7zm-11 20.2v-21h9v4.5c0 1.4 1.1 2.5 2.5 2.5h4.5v14h-16z"/></svg>') no-repeat 0 25px / 44px 54px;
  }

  &--application-pdf {
    background: inline-svg('<svg width="22" height="27" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 27"><path fill="#{$color-border}" d="M12.9 17.5c-.4-.3-.8-.7-1.2-1.2-.3-.3-.6-.8-.9-1.3.5-1.8.8-3.5.2-4.3-.2-.4-.6-.6-1.1-.6-.6 0-1 .2-1.2.7-.4 1 .2 2.8 1 4.3-.2.7-.5 1.5-.8 2.3l-.6 1.4c-2.3.9-3.6 1.9-3.8 2.8-.1.4.1.8.4 1.1.2.2.5.3.7.3h.4c1.1-.3 2.2-1.8 3-3.4.5-.2 1.1-.4 1.7-.6.7-.2 1.4-.4 2-.5 1.1.9 2 1.3 2.8 1.3.6 0 1.1-.2 1.5-.6.6-.6.4-1.1.3-1.3-.6-.7-2.1-.8-4.4-.4zm-7.2 4.5h-.2c-.1-.1-.1-.1-.1-.2.1-.3.7-.9 2.1-1.6-.7 1-1.4 1.7-1.8 1.8zm3.9-10.8c0-.1.1-.1.3-.1.2 0 .3.1.3.1.2.4.2 1.3-.1 2.5-.4-1.1-.7-2.1-.5-2.5zm.8 6.9c-.3.1-.6.2-.8.2.1-.2.2-.4.2-.6l.6-1.6c.2.3.4.6.6.8l.7.8c-.4.1-.8.2-1.3.4zm5.8.5c-.2.2-.4.3-.7.3-.4 0-.9-.2-1.5-.6 1.6-.2 2.5-.1 2.2.3zM20.4 7.4l-5.8-5.8c-.4-.4-.9-.6-1.4-.6h-10.2c-1.1 0-2 .9-2 2v21c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-15.2c0-.5-.2-1-.6-1.4zm-6.4-5l5.6 5.6h-4.6c-.6 0-1-.4-1-1v-4.6zm6 21.6c0 .6-.4 1-1 1h-16c-.6 0-1-.4-1-1v-21c0-.6.4-1 1-1h10v5c0 1.1.9 2 2 2h5v15z"/></svg>') no-repeat 0 25px / 44px 54px;
    background-size: 36px;

    .paragraph--background-secondary & {
      background: inline-svg('<svg width="22" height="27" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 27"><path fill="#{$color-primary}" d="M12.9 17.5c-.4-.3-.8-.7-1.2-1.2-.3-.3-.6-.8-.9-1.3.5-1.8.8-3.5.2-4.3-.2-.4-.6-.6-1.1-.6-.6 0-1 .2-1.2.7-.4 1 .2 2.8 1 4.3-.2.7-.5 1.5-.8 2.3l-.6 1.4c-2.3.9-3.6 1.9-3.8 2.8-.1.4.1.8.4 1.1.2.2.5.3.7.3h.4c1.1-.3 2.2-1.8 3-3.4.5-.2 1.1-.4 1.7-.6.7-.2 1.4-.4 2-.5 1.1.9 2 1.3 2.8 1.3.6 0 1.1-.2 1.5-.6.6-.6.4-1.1.3-1.3-.6-.7-2.1-.8-4.4-.4zm-7.2 4.5h-.2c-.1-.1-.1-.1-.1-.2.1-.3.7-.9 2.1-1.6-.7 1-1.4 1.7-1.8 1.8zm3.9-10.8c0-.1.1-.1.3-.1.2 0 .3.1.3.1.2.4.2 1.3-.1 2.5-.4-1.1-.7-2.1-.5-2.5zm.8 6.9c-.3.1-.6.2-.8.2.1-.2.2-.4.2-.6l.6-1.6c.2.3.4.6.6.8l.7.8c-.4.1-.8.2-1.3.4zm5.8.5c-.2.2-.4.3-.7.3-.4 0-.9-.2-1.5-.6 1.6-.2 2.5-.1 2.2.3zM20.4 7.4l-5.8-5.8c-.4-.4-.9-.6-1.4-.6h-10.2c-1.1 0-2 .9-2 2v21c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-15.2c0-.5-.2-1-.6-1.4zm-6.4-5l5.6 5.6h-4.6c-.6 0-1-.4-1-1v-4.6zm6 21.6c0 .6-.4 1-1 1h-16c-.6 0-1-.4-1-1v-21c0-.6.4-1 1-1h10v5c0 1.1.9 2 2 2h5v15z"/></svg>') no-repeat 0 25px / 44px 54px;
      background-size: 36px;
    }
    &:hover {
      background: inline-svg('<svg width="22" height="27" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 27"><path fill="#{$color-primary}" d="M12.9 17.5c-.4-.3-.8-.7-1.2-1.2-.3-.3-.6-.8-.9-1.3.5-1.8.8-3.5.2-4.3-.2-.4-.6-.6-1.1-.6-.6 0-1 .2-1.2.7-.4 1 .2 2.8 1 4.3-.2.7-.5 1.5-.8 2.3l-.6 1.4c-2.3.9-3.6 1.9-3.8 2.8-.1.4.1.8.4 1.1.2.2.5.3.7.3h.4c1.1-.3 2.2-1.8 3-3.4.5-.2 1.1-.4 1.7-.6.7-.2 1.4-.4 2-.5 1.1.9 2 1.3 2.8 1.3.6 0 1.1-.2 1.5-.6.6-.6.4-1.1.3-1.3-.6-.7-2.1-.8-4.4-.4zm-7.2 4.5h-.2c-.1-.1-.1-.1-.1-.2.1-.3.7-.9 2.1-1.6-.7 1-1.4 1.7-1.8 1.8zm3.9-10.8c0-.1.1-.1.3-.1.2 0 .3.1.3.1.2.4.2 1.3-.1 2.5-.4-1.1-.7-2.1-.5-2.5zm.8 6.9c-.3.1-.6.2-.8.2.1-.2.2-.4.2-.6l.6-1.6c.2.3.4.6.6.8l.7.8c-.4.1-.8.2-1.3.4zm5.8.5c-.2.2-.4.3-.7.3-.4 0-.9-.2-1.5-.6 1.6-.2 2.5-.1 2.2.3zM20.4 7.4l-5.8-5.8c-.4-.4-.9-.6-1.4-.6h-10.2c-1.1 0-2 .9-2 2v21c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-15.2c0-.5-.2-1-.6-1.4zm-6.4-5l5.6 5.6h-4.6c-.6 0-1-.4-1-1v-4.6zm6 21.6c0 .6-.4 1-1 1h-16c-.6 0-1-.4-1-1v-21c0-.6.4-1 1-1h10v5c0 1.1.9 2 2 2h5v15z"/></svg>') no-repeat 0 25px / 44px 54px;
      background-size: 36px;

      .paragraph--background-secondary & {
        background: inline-svg('<svg width="22" height="27" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 27"><path fill="#{$color-primary}" d="M12.9 17.5c-.4-.3-.8-.7-1.2-1.2-.3-.3-.6-.8-.9-1.3.5-1.8.8-3.5.2-4.3-.2-.4-.6-.6-1.1-.6-.6 0-1 .2-1.2.7-.4 1 .2 2.8 1 4.3-.2.7-.5 1.5-.8 2.3l-.6 1.4c-2.3.9-3.6 1.9-3.8 2.8-.1.4.1.8.4 1.1.2.2.5.3.7.3h.4c1.1-.3 2.2-1.8 3-3.4.5-.2 1.1-.4 1.7-.6.7-.2 1.4-.4 2-.5 1.1.9 2 1.3 2.8 1.3.6 0 1.1-.2 1.5-.6.6-.6.4-1.1.3-1.3-.6-.7-2.1-.8-4.4-.4zm-7.2 4.5h-.2c-.1-.1-.1-.1-.1-.2.1-.3.7-.9 2.1-1.6-.7 1-1.4 1.7-1.8 1.8zm3.9-10.8c0-.1.1-.1.3-.1.2 0 .3.1.3.1.2.4.2 1.3-.1 2.5-.4-1.1-.7-2.1-.5-2.5zm.8 6.9c-.3.1-.6.2-.8.2.1-.2.2-.4.2-.6l.6-1.6c.2.3.4.6.6.8l.7.8c-.4.1-.8.2-1.3.4zm5.8.5c-.2.2-.4.3-.7.3-.4 0-.9-.2-1.5-.6 1.6-.2 2.5-.1 2.2.3zM20.4 7.4l-5.8-5.8c-.4-.4-.9-.6-1.4-.6h-10.2c-1.1 0-2 .9-2 2v21c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-15.2c0-.5-.2-1-.6-1.4zm-6.4-5l5.6 5.6h-4.6c-.6 0-1-.4-1-1v-4.6zm6 21.6c0 .6-.4 1-1 1h-16c-.6 0-1-.4-1-1v-21c0-.6.4-1 1-1h10v5c0 1.1.9 2 2 2h5v15z"/></svg>') no-repeat 0 25px / 44px 54px;
        background-size: 36px;

      }
      .paragraph--background-primary & {
        background: inline-svg('<svg width="22" height="27" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 27"><path fill="#{$color-secondary}" d="M12.9 17.5c-.4-.3-.8-.7-1.2-1.2-.3-.3-.6-.8-.9-1.3.5-1.8.8-3.5.2-4.3-.2-.4-.6-.6-1.1-.6-.6 0-1 .2-1.2.7-.4 1 .2 2.8 1 4.3-.2.7-.5 1.5-.8 2.3l-.6 1.4c-2.3.9-3.6 1.9-3.8 2.8-.1.4.1.8.4 1.1.2.2.5.3.7.3h.4c1.1-.3 2.2-1.8 3-3.4.5-.2 1.1-.4 1.7-.6.7-.2 1.4-.4 2-.5 1.1.9 2 1.3 2.8 1.3.6 0 1.1-.2 1.5-.6.6-.6.4-1.1.3-1.3-.6-.7-2.1-.8-4.4-.4zm-7.2 4.5h-.2c-.1-.1-.1-.1-.1-.2.1-.3.7-.9 2.1-1.6-.7 1-1.4 1.7-1.8 1.8zm3.9-10.8c0-.1.1-.1.3-.1.2 0 .3.1.3.1.2.4.2 1.3-.1 2.5-.4-1.1-.7-2.1-.5-2.5zm.8 6.9c-.3.1-.6.2-.8.2.1-.2.2-.4.2-.6l.6-1.6c.2.3.4.6.6.8l.7.8c-.4.1-.8.2-1.3.4zm5.8.5c-.2.2-.4.3-.7.3-.4 0-.9-.2-1.5-.6 1.6-.2 2.5-.1 2.2.3zM20.4 7.4l-5.8-5.8c-.4-.4-.9-.6-1.4-.6h-10.2c-1.1 0-2 .9-2 2v21c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-15.2c0-.5-.2-1-.6-1.4zm-6.4-5l5.6 5.6h-4.6c-.6 0-1-.4-1-1v-4.6zm6 21.6c0 .6-.4 1-1 1h-16c-.6 0-1-.4-1-1v-21c0-.6.4-1 1-1h10v5c0 1.1.9 2 2 2h5v15z"/></svg>') no-repeat 0 25px / 44px 54px;
        background-size: 36px;
      }
    }
  }

  &__link {
    padding: 20px 0 20px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    margin-right: 0;
    width: 100%;
    color: inherit;
    text-decoration: none;
    padding-bottom: 10px;
    @media #{$small-up} {
      flex-wrap: nowrap;
    }

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
  &__label,
  &__size {
    transition: all .3s ease;

    a:hover & {
      color: $color-primary;
      .paragraph--background-primary & {
        color: $color-secondary;
      }
    }
  }
  &__label {
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
  }
  &__size {
    font-size: 16px;
    color: $color-black;
    font-weight: 300;
    margin-right: 20px;
  }
  &__download {
    position: relative;
    background-color: $color-primary;
    color: $color-white;

    &:hover {
      background-color: $color-primary-dark;
      color: $color-white;
    }
  }
}
