.form-control {
  border: 1px solid #ccc;
  box-shadow: none;
  border-radius: 5px;

  .panel & {
    border: none;
  }
}

::placeholder {
  opacity: 1;
  color: $color-black !important;
}

.form-item {
  & > label {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: $color-black;
    letter-spacing: 1px;
    &.option {
      color: $color-black;
      text-transform: none;
      font-size: 15px;
      line-height: 1.6;
      letter-spacing: 0;

      .paragraph--background-secondary & {
        color: $color-white;
      }
    }
  }

  &.form-type-checkbox,
  &.form-type-radio {
    margin-top: 30px;

    .fieldgroup & {
      &:first-child {
        margin-top: 20px;
      }
    }

    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      margin: 0;

      &:checked + label:after {
        display: block;
      }
    }
    label {
      flex-basis: auto;
      padding-left: 40px;
      min-height: 30px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 30px;
        border: 1px solid $color-grey;
        background: $color-white;
      }
      &:after {
        content: '';
        display: none;
        position: absolute;
      }
    }
  }

  &.form-type-checkbox {
    & + .form-type-checkbox {
      margin-top: 10px;
    }
    label {
      &:after {
        width: 20px;
        height: 20px;
        left: 5px;
        top: 5px;
        background-size: contain;
        background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><polyline fill="none" stroke="#{$color-secondary}" stroke-width="4" stroke-linejoin="round" points="3,10 8,15 17,6 "/></svg>');
      }
    }
  }
  &.form-type-radio {
    & + .form-type-radio {
      margin-top: 20px;
    }
    label {
      &:before {
        border-radius: 99px;
      }
      &:after {
        width: 16px;
        height: 16px;
        left: 7px;
        top: 7px;
        border-radius: 99px;
        background: $color-secondary;
      }
    }
  }
}

select,
select.form-control {
  appearance: none;
  @include icon-arrow($color-grey);
  background-position: center right 20px;
  background-position-y: 25px;
  background-color: $color-white;

  &::-ms-expand {
    display: none;
  }
}

.webform-submission-newsletter-subscribtion-form {
  @media #{$medium-up} {
    display: flex;
  }

  .has-required-fields {
    display: none;
  }

  .form-type-webform-markup {
    min-width: 500px;
    margin-left: auto;
    margin-right: 0;
    h3 {
      font-size: 30px;
      margin-top: 10px;
      letter-spacing: 0;
      font-weight: 600;
    }
  }

  .form-type-email {
    max-width: 295px;
    @media #{$medium-down} {
      width: 100%;
      max-width: none;
    }
  }

  .form-actions {
    margin: 0;

    .button {
      height: 55px;
      line-height: 0;
      padding: 1.5em 2.5em;
      @media #{$medium-down} {
        width: 100%;
      }
    }

    @media #{$medium-up} {
      margin-left: 10px;
    }
  }
}
