.language-switcher {
  &--inline {
    li {
      color: $color-grey;
      text-transform: uppercase;
      font-weight: bold;

      a {
        color: $color-black;
        display: block;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      &.is-active {
        a {
          color: $color-primary;
          text-decoration: none;
        }
      }

      &:focus {
        color: $color-black;
      }
    }
  }
  &--dropdown {
    .links {
      li {
        text-transform: uppercase;
        font-weight: bold;

        a {
          color: $color-black;
        }

        &:focus {
          text-decoration: none;
        }

        &.is-active {
          &:after {
            @include icon-arrow($color-black);
            background-size: contain;
          }

          &:hover {
            text-decoration: none;
            color: $color-primary;

            &:after {
              @include icon-arrow($color-primary);
              background-size: contain;
            }
            a {
              color: $color-primary;
              text-decoration: none;
            }
          }
        }
      }

      &.active {
        background: $color-white;
        border: 1px solid $color-grey;

        li {
          color: $color-grey;
          display: block;
          opacity: 0;

          a {
            color: $color-black;
            display: block;
            cursor: pointer;
          }

          &.is-active {
            text-decoration: none;
            background: $color-primary;

            a {
              color: $color-white;
              text-decoration: none;
            }

            &:before,
            &:after {
              content: none;
            }
          }

          &:focus {
            color: $color-black;
          }
        }
      }
    }
  }
}
