.layout {
	&-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;

    &--no-padding,
    &.no-padding {
      @media #{$medium-up} {
        padding-bottom: 0;
        padding-top: 0;
      }
    }


    &--no-col-padding,
    &.no-col-padding {
      .row > div {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &--padding,
    &.padding {
      padding-bottom: 140px;
      padding-top: 140px;
    }

    &.margin-bottom,
    &.layout-wrapper--margin-bottom {
      margin-bottom: 100px;
    }

    &.margin-top,
    &.layout-wrapper--margin-top {
      margin-top: 100px;
    }


    &--divider {
      padding: 0;
      border-bottom: 100px solid $color-grey;
    }

		@for $i from 1 through 11 {

			&--padding {
				&-#{$i} {
					padding: #{($i*10) - 10}px;
				}
				&-top-#{$i} {
					padding-top: #{($i*10) - 10}px;
				}
				&-right-#{$i} {
					padding-right: #{($i*10) - 10}px;
				}
				&-bottom-#{$i} {
					padding-bottom: #{($i*10) - 10}px;
				}
				&-left-#{$i} {
					padding-left: #{($i*10) - 10}px;
				}
			}
			&--margin {
				&-#{$i} {
					margin: #{($i*10) - 10}px;
				}
				&-top-#{$i} {
					margin-top: #{($i*10) - 10}px;
				}
				&-right-#{$i} {
					margin-right: #{($i*10) - 10}px;
				}
				&-bottom-#{$i} {
					margin-bottom: #{($i*10) - 10}px;
				}
				&-left-#{$i} {
					margin-left: #{($i*10) - 10}px;
				}
			}
		}
	}

	&.no-gutters {
		margin-left: -30px;
		margin-right: -30px;
	}

  &--center {
    display: flex;
    align-items: center;

    @media #{$medium-down} {
      flex-direction: column;
    }
  }

  &--text-align {
    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  &--image-with-text {
    @media #{$medium-up} {
      display: flex;
      align-items: center;
      margin: 0;
    }

    .col-md-6 {
      padding: 0;
    }

    .inline-block-text {
      padding-left: 50px;
      padding-right: 50px;
      margin-right: auto;
      margin-left: auto;
      @media #{$medium-down} {
        padding: 30px;
      }
    }

    .inline-block-image {
      max-height: 550px;

      img {
        max-height: 350px;
        width: 100%;
        object-fit: cover;
      }
    }

    &-left {
      .inline-block-text {
        @media #{$medium-up} {
          padding-right: 0;
        }
      }
    }

    &-right {
      .inline-block-text {
        @media #{$medium-up} {
          padding-left: 0;
        }
      }
    }
  }

  &--map {
    iframe {
      width: 100%;
      border-radius: 20px;
      height: 500px;
    }
  }

  &--table {
    table {

      & + table {
        margin-top: 40px;
      }
      width: 100%;
      border-radius: 20px;
      line-height: normal;
      font-size: 14px;
      outline: 1px solid $color-grey;
      overflow: hidden;
      border: hidden;

      @media #{$medium-down} {
        display: block;
        overflow-x: scroll;
      }

      p {
        margin-bottom: 10px;
      }
      strong {
        font-size: 15px;
        font-weight: 500;

      }

      thead {
        th {
          background-color: $color-secondary;
          font-weight: normal;
          border: 1px solid $color-secondary;

          &,
          strong {
            color: $color-white;
          }
        }
      }

      tbody {

        td {
          border: 1px solid $color-grey;

          strong {
            color: $color-secondary;
          }
        }
      }

      td,
      th {
        padding: 20px;
        vertical-align: top;
      }
      th {
        color: $color-black;
        border: none;
      }
      tr {
        td {
          &:first-child {
            background-color: $color-grey;

            strong {
              color: $color-black;
            }
          }
        }
      }
    }
  }

  &--animated {
    .inline-block {
      opacity: 0;
      transform: translateX(-30px);
    }

    &-down {
      .inline-block {
        opacity: 0;
        transform: translateY(-30px);
      }
    }

    &-right {
      .inline-block {
        opacity: 0;
        transform: translateX(30px);
      }
    }

    &-up {
      .inline-block {
        opacity: 0;
        transform: translateY(30px);
      }
    }
  }

  .inline-block {
    &.inview {
      transition: all 0.5s ease;
      opacity: 1;
      transform: none;
    }
  }
}

.inline-block {
	&.background-white,
	&.background-grey,
	&.background-primary,
	&.background-secondary {
		padding: 15px;
	}
}
