.menu {
	&--main,
	&--meta-menu {
		& > li {
			& > a {
				line-height: 20px;
				padding: 0;
				text-align: center;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 15px;

				&[data-target="#"] {
					&:hover {
						cursor: default;
						color: $color-black;
					}
				}

				&.jobs {
					position: relative;

					.job-count {
						position: absolute;
						top: -10px;
						font-size: 9px;
						color: #fff;
						background: $color-primary;
						font-weight: 400;
						display: inline-block;
						width: 15px;
						height: 15px;
						text-align: center;
						line-height: 15px;
						border-radius: 99px;
						transition: all .3s ease;
						transform: scale(0);
					}
					&--loaded {
						.job-count {
							transform: scale(1);
						}
					}
				}
			}
		}
		.dropdown-menu {
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
			border: none;

			& > li {
				& > a {
					text-align: center;
					font-weight: bold;
					font-size: 13px;

					&:after {
						background: $color-grey;
					}
				}
				&.active {
					& > a {
						background: transparent;
						color: $color-primary;
					}
				}
			}
		}
	}
}
