.nav-tabs {
	& > li {
		& > a {
			background: $color-grey;
			color: $color-black;
			line-height: 1;
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
			border-radius: 0;
			padding: 10px;
			margin-bottom: -1px;
		}
	}
}