aside.right-off-canvas-menu,
aside.left-off-canvas-menu {
	background: $color-primary;
	padding-top: 100px;

	ul.off-canvas-list {
		li {
			a {
				color: $color-white;
				text-decoration: none;
				border: none;
				font-size: 28px;
				text-transform: uppercase;

				&:hover {
					background-color: transparent;
				}
			}
		}
	}

	.right-submenu,
	.left-submenu {
		width: 100%;

		.back a {
			background: $color-white;
		}
	}

	.burger {
		.line {
			background: $color-white;
		}
	}
}

.off-canvas-wrap {
	overflow: visible;
}

.move-right {
	& > .inner-wrap {
		transform: none;
	}

	.left-off-canvas-menu {
		display: block;
	}
}
