.page-title {
	background: $color-primary;
	padding: 30px 0;
	margin-bottom: 30px;

	@media #{$small-up} {
		margin-bottom: 60px;
	}

	&--has-banner {
		padding-bottom: 0;
		background: linear-gradient(to top, $color-white 0, $color-white 85px, $color-primary 85px);
	}

	h1 {
		color: $color-white;
		margin: 20px 0 0;

		@media #{$small-up} {
			margin: 40px 0 0;
		}
	}
}