.panel {
	background: $color-primary;
	color: $color-white;
	border: none;
	border-radius: 0;

	h2,
	h3,
	h4,
	label,
	p {
		color: $color-white;
	}

	.background-primary &,
	.background-secondary & {
		background: $color-white;
		color: $color-black;

		h2,
		h3,
		h4,
		label,
		p {
			color: $color-black;
		}
	}

	& > .panel-heading {
		background: $color-primary;
		color: $color-white;
	}
	&-default {
		background: $color-grey;
		color: $color-black;

		h2,
		h3,
		h4,
		label,
		p {
			color: $color-black;
		}

		& > .panel-heading {
			background: $color-grey;
			color: $color-black;
		}
		.background-grey & {
			background: $color-white;
		}
	}
	&-primary {
		@extend .panel;
	}
}