.quote {
	margin-top: 20px;
	border-left: 0;
	text-align: center;

	&__text {
		color: $color-black;
		font-size: $font-size-h1;
		line-height: $headings-line-height;
		font-weight: 600;
	}
	&__footer {
		margin-top: 50px;
		&:before {
			content: none;
		}
		text-align: center;
	}
	&__author {
		color: $color-black;
		font-weight: 600;
	}

	&__image {
		margin-bottom: 20px;
		img {
			margin: 0 auto;
			border-radius: 100%;
			position: relative;
			max-width: 90px;
		}
	}
}

blockquote {
	@extend .quote;
	padding: 40px;

	p {
		@extend .quote__text;
	}
}
