.slick-prev,
.slick-next {
    @include icon-arrow-large($color-primary);
    background-size: contain;

    &:hover {
        @include icon-arrow-large($color-secondary);
        background-size: contain;
    }
}

.slick-dots {
    li {
        button {
            background: transparent;
            border: 1px solid $color-black;

            &:hover,
            &:focus {
                border-color: $color-primary;
                outline: none;
            }
        }
        &.slick-active {
            button {
                background: $color-primary;
                border-color: $color-primary;
            }
        }
    }
}
