.snippet {
  &-horizontal {
    align-items: center;

    &__image {
      @media #{$small-only} {
        float: none;
        width: 100%;
        margin-bottom: 20px;
      }
    }
    &__title {
      margin-top: 0;
      margin-bottom: 15px;
      line-height: normal;
      font-size: 18px;

      a {
        color: inherit;
      }
    }
    &__readmore {
      margin-top: 20px;
      background-color: $color-white;
      color: $color-primary;
      padding: 10px;
      border: 1px solid $color-border;
      letter-spacing: normal;
    }

    &__categories {
      a,
      span,
      .field--item {
        padding: 5px 10px;
        background: $color-border;
        color: $color-grey;
        font-size: 14px;
        line-height: normal;
      }

      .field--items {
        display: flex;
        .field--item {
          margin-right: 10px;
          margin-bottom: 15px;
        }
      }
    }

    &__date {
      font-size: 12px;
    }
  }
}
