.social {
	display: flex;
	flex-wrap: wrap;

	&__link {
		width: 32px;
		height: 32px;
		text-indent: -9999px;
		transition: transform .2s ease;
		background-size: contain;
		background-repeat: no-repeat;
		margin-right: 10px;
		border-radius: 99px;

		&:last-child {
			margin-right: 0;
		}
		&:hover {
			transform: translateY(-5px);
		}

		&--facebook {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" enable-background="new 0 0 64 64"><path fill="#fff" d="M41.3 33.3l1.7-6.3h-7v-5.7c0-2 1-2.3 4-2.3h3v-7h-5.7c-5.5 0-9.3 3.2-9.3 9.3v5.7h-7v7h7v18h8v-18.7h5.3z"/></svg>');
			background-color: #3a5ba0;
		}
		&--twitter {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" enable-background="new 0 0 64 64"><path fill="#fff" d="M52 20.3c-1.5.7-3.7 1.5-5.3 1.7 1.7-1.1 3.3-3.5 4-5.3-1.3.8-2.8 1.9-4.3 2.4l-1.1-1.1c-1.5-1.6-2.9-2.7-5.3-2.7-4.5 0-8 3.5-8 8 0 .5 0 .9.1 1.3h-.1c-8 0-13.3-1.7-17.3-6.7-.7 1.2-1.3 2.5-1.3 4 0 2.8 1.7 5.2 4 6.7-1.3 0-2.9-.7-4-1.3 0 4 5.6 8.5 9.3 9.3-1.3 1.3-6.1.1-6.7 0 1.1 3.2 4.4 5.2 8 5.3-2.8 2.1-6.1 3.3-10 3.3-.7 0-1.3 0-2-.1 3.6 2.3 8.7 3.5 13.3 3.5 15.1.1 22.7-11.8 22.7-22.6v-1.3c1.6-1.2 2.9-2.8 4-4.4z"/></svg>');
			background-color: #2ca7e0;
		}
		&--pinterest {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" enable-background="new 0 0 64 64"><path fill="#fff" d="M33.3 12c-10.9 0-17.3 8.1-17.3 14.7 0 4 2.7 8 4 8s2.7 0 2.7-1.3-2.7-2.7-2.7-6.7c0-5.9 6.4-10.7 13.3-10.7 6.1 0 9.3 4.3 9.3 9.3 0 6.7-3.6 12-8 12-2.4 0-4.5-1.6-4-4 .7-2.9 1.3-2.7 2.7-8 .4-1.9-.5-4-2.7-4-2.4 0-5.3 1.9-5.3 5.3 0 2.1 1.3 4 1.3 4s-2.9 10.5-3.5 12.4c-.8 3.6-2 8.9-.7 8.9s2.8-2.7 5.5-9.3c.4-.9 1.3-4 1.3-4 .8 1.5 4.1 2.7 6.7 2.7 7.3 0 12-6.9 12-16 .1-6.8-5.8-13.3-14.6-13.3z"/></svg>');
			background-color: #c9151c;
		}
		&--linkedin {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" enable-background="new 0 0 64 64"><g fill="#fff"><path d="M27 26h7l-.1 3.4c.9-1.9 3.5-3.5 6.9-3.5 7.3 0 8.1 4.1 8.1 10.4v12.7h-7l.1-11.6c0-2.7.3-5.7-3.5-5.7-4.7 0-4.7 2.8-4.7 5.7l.2 11.6h-7v-23z"/><path d="M16 26h7v23h-7z"/><circle cx="19.5" cy="18.3" r="4"/></g></svg>');
			background-color: #0e76a8;
		}
		&--whatsapp {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" enable-background="new 0 0 64 64"><path fill="#fff" d="M52 31.9c0 10.8-8.8 19.5-19.6 19.5-3.4 0-6.7-.9-9.5-2.4l-10.9 3.4 3.5-10.4c-1.8-2.9-2.8-6.4-2.8-10.1 0-10.8 8.8-19.5 19.6-19.5 10.9 0 19.7 8.7 19.7 19.5m-19.6-16.4c-9.1 0-16.5 7.3-16.5 16.4 0 3.6 1.2 6.9 3.1 9.6l-2.1 6.1 6.3-2c2.6 1.7 5.7 2.7 9.1 2.7 9.1 0 16.5-7.3 16.5-16.4.1-9-7.3-16.4-16.4-16.4m9.9 20.9c-.1-.2-.4-.3-.9-.6l-3.3-1.6c-.4-.2-.8-.2-1.1.2-.3.5-1.2 1.6-1.5 1.9-.3.3-.6.4-1 .1-.5-.2-2-.7-3.9-2.4-1.4-1.3-2.4-2.8-2.7-3.3-.3-.5 0-.7.2-1l.7-.8.5-.8c.2-.3.1-.6 0-.8-.1-.2-1.1-2.6-1.5-3.5s-.8-.8-1.1-.8h-.9c-.3 0-.8.1-1.3.6-.4.5-1.7 1.6-1.7 4s1.7 4.6 2 4.9c.2.3 3.3 5.3 8.2 7.2 4.9 1.9 4.9 1.3 5.8 1.2.9-.1 2.8-1.2 3.2-2.3.4-1.1.4-2 .3-2.2"/></svg>');
			background-color: #25D366;
		}
		&--mail {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#fff" d="M16 17.2c-1.5 0-9-6.1-9-6.1v-.7C7 9.7 7.7 9 8.5 9h15c.8 0 1.5.7 1.5 1.5v.8c0-.1-7.5 5.9-9 5.9zm0 2.1c1.6 0 9-5.8 9-5.8v9c0 .8-.7 1.5-1.5 1.5h-15c-.8 0-1.5-.7-1.5-1.5v-9s7.5 5.8 9 5.8z"/></svg>');
			background-color: #f1982b;
		}
	}

	&--fixed {
		position: fixed;
		z-index: 9;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		flex-direction: column;

		.social__link {
			width: 58px;
			height: 48px;
			background-position: top left;
			margin: 0;
			border-radius: 0;
			transform: translateX(10px);

			&:hover {
				transform: none;
			}
		}

		@media only screen and (min-width: 768px) {
			top: auto;
			bottom: 0;
			right: 50%;
			transform: translateX(50%);
			flex-direction: row;

			.social__link {
				width: 50px;
				height: 37px;
				background-position: center top;
				background-size: 32px 32px;
				transform: translateY(5px);
			}
		}
	}
}

.share {
	&__link {
		width: 32px;
		height: 32px;
		background-size: 32px 32px;
		background-position: center center;
		border-radius: 0;
		background-color: transparent;
		margin-right: 15px;
		display: inline-block;

		&:hover {
			transform: none;
			opacity: .6;
		}

		&--facebook {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path fill="#000" d="M41.3 33.3l1.7-6.3h-7v-5.7c0-2 1-2.3 4-2.3h3v-7h-5.7c-5.5 0-9.3 3.2-9.3 9.3v5.7h-7v7h7v18h8v-18.7h5.3z"/></svg>');
		}
		&--twitter {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path fill="#000" d="M52 20.3c-1.5.7-3.7 1.5-5.3 1.7 1.7-1.1 3.3-3.5 4-5.3-1.3.8-2.8 1.9-4.3 2.4l-1.1-1.1c-1.5-1.6-2.9-2.7-5.3-2.7-4.5 0-8 3.5-8 8 0 .5 0 .9.1 1.3h-.1c-8 0-13.3-1.7-17.3-6.7-.7 1.2-1.3 2.5-1.3 4 0 2.8 1.7 5.2 4 6.7-1.3 0-2.9-.7-4-1.3 0 4 5.6 8.5 9.3 9.3-1.3 1.3-6.1.1-6.7 0 1.1 3.2 4.4 5.2 8 5.3-2.8 2.1-6.1 3.3-10 3.3-.7 0-1.3 0-2-.1 3.6 2.3 8.7 3.5 13.3 3.5 15.1.1 22.7-11.8 22.7-22.6v-1.3c1.6-1.2 2.9-2.8 4-4.4z"/></svg>');
		}
		&--linkedin {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><g fill="#000"><path d="M27 26h7l-.1 3.4c.9-1.9 3.5-3.5 6.9-3.5 7.3 0 8.1 4.1 8.1 10.4v12.7h-7l.1-11.6c0-2.7.3-5.7-3.5-5.7-4.7 0-4.7 2.8-4.7 5.7l.2 11.6h-7v-23z"/><path d="M16 26h7v23h-7z"/><circle cx="19.5" cy="18.3" r="4"/></g></svg>');
		}
	}
}