.timeline-item {
	border: 1px solid $color-grey;

	&:before {
		border: 4px solid $color-secondary;
		background: $color-white;
	}
	&:after {
		background: $color-primary;
	}
	&__year {
		top: -80px;
		font-size: 80px;
		line-height: 1;
		font-family: $font-family-serif;
		color: $color-grey;

		@media #{$small-up} {
			top: -120px;
			font-size: 120px;
		}
	}
}