.user {
	margin: 0 auto;
	&__image {
		float: left;
		margin-right: 10px;

		&-placeholder {
			width: 50px;
			height: 50px;
			position: relative;
			background: $color-grey;
			border-radius: 99px;
			overflow: hidden;

			&:before,
			&:after {
				position: absolute;
				content: '';
				background: darken($color-grey, 15%);
				z-index: 2;
			}
			&:before {
				width: 20px;
				height: 20px;
				top: 12px;
				left: 15px;
				border-radius: 99px;
			}
			&:after {
				width: 30px;
				height: 50px;
				top: 33px;
				left: 10px;
				border-radius: 50%;
			}
		}
	}
	&__name {
		float: left;
	}
}