.vb {
  &-design {
    font-size: 14px;

    a {
      color: $color-grey;

      &:hover {
        color: $color-primary;
      }
    }

    &:before {
      content: '';
      width: 13px;
      height: 13px;
      display: inline-block;
      background-image: url("../images/vb.svg");
      margin-right: 10px;
      background-size: cover;
      transform: translateY(1px);
    }
  }
}