.video {
  position: relative;

  &__play-button {
    width: 80px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(../images/playbutton.svg) no-repeat center center / contain;
    transform: translate(-50%,-50%);
    font-size: 0;
    cursor: pointer;
    transition: all .3s ease;
    z-index: 5;
    border: none;

    &--hide {
      display: none;
    }
  }

  video {
    width: 100%;
    height: auto;
  }

  &__close {
    display: none;
  }
}

.field--name-field-video {
    height: auto;
    padding: 0;

    &:before,
    &:after {
      content: none;
      display: none;
    }
    video {
      display: block;
    }
}
