.view {
	&--has-ajax {
		&.loading {
			.view-content:after {
				border-color: $color-primary transparent $color-secondary transparent;
			}
		}
	}
	&-id-xxx {
		&.view-display-id-xxx {
			// .view-content {
			// 	display: flex;
			// 	margin: 0 -15px;
			// 	flex-wrap: wrap;
			// 	align-items: stretch;
			// 	align-content: stretch;
			// }
			// .views-row {
			// 	padding: 0 15px;
			// 	margin-bottom: 30px;
			// 	display: flex;
			// 	align-items: stretch;
			// 	align-content: stretch;
			// 	width: 100%;

			// 	@media #{$small-up} {
			// 		width: 50%;
			// 	}
			// }
		}
	}
}
