#colorbox {
    &.transparent {
        overflow: visible;

        #cboxWrapper,
        #cboxContent,
        #cboxLoadedContent {
            overflow: visible !important;
        }

        #cboxContent {
            background: transparent;
        }
        #cboxClose {
            opacity: 0;
            transition: opacity .3s ease;

            &.fadeIn {
                opacity: 1;
            }
        }

        .search-block-form {
            padding: 0 15px;
            opacity: 0;
            transform: translateX(-30px);
            transition: all .5s ease;

            .input-group {
                width: 100%;
            }

            &.fadeIn {
                opacity: 1;
                transform: none;
            }
        }
    }
}

#cboxOverlay {
    &.transparent {
        background: $color-primary;
        transition: opacity .3s ease;
        opacity: 0 !important;

        &.fadeIn {
            opacity: .9 !important;
        }
    }
}