.copyright {
	padding: 20px 0;

	&:after {
		content: ' ';
		display: table;
		clear: both;
	}
	&__left {
		float: left;
		width: 50%;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			display: table;
			margin-bottom: 10px;

			@media #{$small-up} {
				display: inline-block;
				margin-right: 30px;
				margin-bottom: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__right {
		float: left;
		width: 50%;
		text-align: right;
	}
	&__vectorbross {
		a:hover &,
		a:active &,
		a:focus &,
		a:hover:active  &{
			opacity: .75;
		}
	}
}