.field--name-field-video:not(.form-group),
.field--name-field-media-oembed-video:not(.form-group),
.field--type-video-embed-field:not(.form-group) {
	background: #f0f0f0;
	padding-bottom: 56.25%;
	height: 0;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border-top: 20px solid transparent;
		border-left: 30px solid #ccc;
		border-bottom: 20px solid transparent;
		top: 50%;
		margin-top: -40px;
		left: 50%;
		margin-left: -11px;
	}
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -70px;
		left: 50%;
		margin-left: -50px;
		border: 6px solid #ccc;
		width: 100px;
		height: 100px;
		border-radius: 99px;

	}
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 4;
	}
	.no-cookies {
		position: absolute;
		bottom: 10px;
		right: 10px;
		left: 10px;
		text-align: left;
		z-index: 5;
	}

}