.form-control {
	box-shadow: none;
}

.form-item {
	& > label {
		&.form-required:after {
			content: '*';
			background: none;
			display: inline;
			padding-left: 4px;
			font-size: 12px;
		}
	}
	&-phone {
		.control-label {
			display: inline-block;
			margin-bottom: 10px;
			vertical-align: baseline;
		}
	}

	&.fieldgroup {
		margin-bottom: 30px;

		& > legend {
			border: none;
			margin: 0;
		}
	}
}

.form-actions {
	margin-top: 30px;
}

.form-required:after {
	background: none;
}