@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.drag-and-drop-page {
	&.loading {
		.content {
			opacity: .3;
		}
		&:after {
			content: '';
			display: block;
			width: 46px;
			height: 46px;
			position: absolute;
			top: 50px;
			left: 50%;
			margin: 1px 1px 1px -23px;
			border-radius: 50%;
			border: 5px solid #fff;
			border-color: $color-primary transparent $color-primary transparent;
			animation: loading 1.2s linear infinite;
		}
	}
}

.az-visually-hidden {
	display: none;
}

.az-section {
	padding-top: 60px;
	padding-bottom: 30px;

	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}
.az-column {
	margin-bottom: 15px;
}
.az-ctnr {
	&.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}
.az-counter {
	text-align: center;
}
.az-tabs {
	& > .controls {
		top: 30px !important;
	}
}

.az-element {
	&.equal-height-children {
		& > .az-element {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			align-content: stretch;

			& > .az-panel {
				display: flex;
				flex-direction: column;

				& > .panel-body {
					display: flex;
					flex-direction: column;
					height: 100%;

					& > .az-button {
						margin-top: auto;
						margin-bottom: 10px;
					}
				}
			}
		}
	}

	&.mask {
		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(#000, .5);
			z-index: 1;
		}
		& > .az-ctnr {
			position: relative;
			z-index: 2;
		}
	}
}
