@keyframes fadeInLang {
	from { opacity: 0; }
	to { opacity: 1; }
}

.language-switcher {
	&--inline {
		.links {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;
				margin-right: 10px;
				cursor: not-allowed;

				a {
					display: block;
					cursor: pointer;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	&--dropdown {
		position: relative;
		width: 40px;
		height: 30px;
		z-index: 2;
		cursor: pointer;

		.contextual {
			display: none;
		}

		.links {
			position: absolute;
			list-style: none;
			padding: 0;
			margin: 0;
			top: 0;
			display: flex;
			flex-direction: column;

			li {
				line-height: 30px;
				display: block;
				list-style: none;
				padding: 0;
				margin: 0;
				width: 40px;
				text-align: center;
				display: none;
				position: relative;
				order: 2;

				&.is-active {
					display: block;
					order: 1;

					&:after {
						content: '';
						@include icon-arrow($color-grey);
						background-size: contain;
						width: 10px;
						height: 10px;
						position: absolute;
						right: 0;
						top: 10px;

					}
				}
			}

			&.active {
				li {
					display: block;
					opacity: 0;
					animation: fadeInLang .3s ease forwards;
					cursor: not-allowed;

					a {
						display: block;
						cursor: pointer;
					}

					&.is-active {
						&:before,
						&:after {
							content: none;
						}
					}
				}
			}
		}
	}
}


// .language-switcher-language-url {
// 	.links {
// 		list-style: none;
// 		padding: 0;
// 		margin: 0;

// 		li {
// 			display: inline-block;
// 			margin-right: 10px;

// 			&:last-child {
// 				margin-right: 0;
// 			}
// 		}
// 	}
// }
