.media {
	&-image {
		position: relative;

		.field--name-field-copyright {
			position: absolute;
			right: 0;
			bottom: 0;
			padding: 5px 10px;
			color: $color-white;
			background: rgba(0, 0, 0, .5);
			font-weight: bold;
			font-size: 13px;

			&:before {
				content: '\00a9';
				display: inline;
				padding-right: 5px;
			}
		}
	}
}