.menu {
	&--main,
	&--meta-menu {
		margin: 0;
		padding: 0;
		list-style: none;

		& > li {
			padding: 10px 0;
			position: relative;
			display: inline-block;

			@media #{$medium-up} {
				padding: 10px 20px;
			}

			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}

			& > a {
				&[href="/search"] {
					text-indent: -9999px;
					display: inline-block;
					width: 20px;
					height: 20px;
					background: inline-svg('<svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="#{$color-black}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M11,11L8.6,8.6"/><circle fill="none" stroke="#{$color-black}" stroke-width="1.5" cx="5.5" cy="5.5" r="4.5"/></svg>') no-repeat center center / 12px 12px;

					@media #{$medium-up} {
						width: 20px;
					}
				}
			}
			&:hover {
				& > .dropdown-menu {
					display: block;
				}
			}
		}
		.dropdown-menu {
			max-width: 100%;
			padding: 0;

			& > li {
				& > a {
					padding: 8px 20px;
					white-space: normal;
					position: relative;

					&:after {
						content: '';
						position: absolute;
						bottom: 0;
						right: 10px;
						left: 10px;
						height: 1px;
					}
				}
			}
		}
	}
	&--footer {
		list-style: none;
		padding: 0;
	}
}
