.move-right {
	& > .inner-wrap {
		transform: none;
	}
	.exit-off-canvas {
		display: none;
	}
}

.right-small {
	z-index: 23;
	margin-right: 15px;
	height: 40px;
	width: 40px;
	margin-top: 1px;
}

.off-canvas-wrap {
	overflow: visible;
}

aside.right-off-canvas-menu,
aside.left-off-canvas-menu {
	padding-top: 12px;
	width: 100%;
	height: 100vh;
	z-index: 2000;
	opacity: 0;
	bottom: 0;
	top: 0;
	transform: scale(1, 0);
	transform-origin: top;
	transition: all .35s ease !important;
	text-align: center;
	position: fixed;
	display: none;

	&.loaded {
		display: block;
	}



	ul.off-canvas-list {
		li {
			a {
				border: none;
				opacity: 0;
				transform: translateX(20px);
				transition: transform .3s ease, opacity .3s ease;
			}
			@for $i from 0 through 12 {
				&:nth-child(#{$i}) a {
					transition-delay: .2s + $i*.1s;
				}
			}
		}
	}

	.move-right & {
		transform: scale(1);
		opacity: 1;

		ul.off-canvas-list {
			li {
				a {
					opacity: 1;
					transform: none;
				}
			}
		}
	}

	.right-submenu,
	.left-submenu {
		width: 100%;

		.back a {
			text-align: left;
			padding: 18px 20px;
		}
	}

	.burger {
		position: absolute;
		right: 30px;
		top: 165px;
		z-index: 21;
		top: 30px;

		.icon {
			display: block;
			width: 40px;
			height: 40px;
		}

		.line {
			width: 24px;
			height: 4px;
			position: absolute;
			left: 4px;
			transition: all .3s ease;

			&-1 {
				top: 9px;
				transform: rotate(45deg) translate(7px, -5px);
				transform-origin: top left;
			}
			&-2 {
				top: 27px;
				transform-origin: bottom left;
				transform: rotate(-45deg) translate(7px, 5px);
			}
		}
	}
}