@keyframes slideIn {
  0% {
  	opacity: 0;
    transform: translateX(-30px);
  }
  100% {
  	opacity: 1;
    transform: translateX(0);
  }
}

.page-title {
	text-align: center;

	h1 {
		border: none;
	}

	.views-field-field-header-intro {
		.btn {
			& + .btn {
				margin-left: 5px;
			}
		}
		@media #{$small-only} {
			.btn {
				display: table;
				margin: 30px auto 15px auto;
				min-width: 200px;

				& + .btn {
					margin-top: 15px;
					margin-left: auto;
				}
			}
		}
	}

	@media #{$small-up} {
		.page-header {
			opacity: 0;
			animation: slideIn .5s ease .5s forwards;
		}
		.views-field-field-header-intro {
			opacity: 0;
			animation: slideIn .5s ease .75s forwards;
		}
		.video-front {
			opacity: 0;
			animation: slideIn .5s ease 1s forwards;
		}
	}
}