.paragraph {
	// Animations
	&.animated {
		.counter {
			opacity: 0;
			transform: scale(0.5);
		}
		.card {
			opacity: 0;
			transform: translateY(30px)
		}
		.paragraph-image-text__text-column {
			opacity: 0;
			transform: translateX(-30px);
		}
	}
	&.inview {
		.card,
		.counter,
		.paragraph-image-text__text-column {
			transition: all .5s ease;
			opacity: 1;
			transform: none;
		}
		@for $i from 1 through 12 {
			.paragraph-counters__counter:nth-child(#{$i}) .counter,
			.paragraph-cards__card:nth-child(#{$i}) .card {
				transition-delay: ($i - 1) * .2s;
			}
		}
	}

	// Utility
	&.small-container-title {
		.paragraph__title {
			@include small-container(false);
		}
	}
	&.medium-container-title {
		.paragraph__title {
			@include medium-container(false);
		}
	}
	&.small-container {
		& > .container {
			@include small-container(true);
		}
	}
	&.medium-container {
		& > .container {
			@include medium-container(true);
		}
		@media #{$large-up} {
			.row {
				margin: 0 -40px;
			}
			.col-md-6,
			.col-md-4,
			.col-md-8 {
				padding: 0 40px;
			}
		}
	}
	&.large-title {
		.paragraph__title {
			@media #{$small-up} {
				font-size: 50px;
			}
		}
	}
	&.medium-title {
		.paragraph__title {
			@media #{$small-up} {
				font-size: 45px;
			}
		}
	}
	&.center-title {
		.paragraph__title {
			text-align: center;
		}
	}
	&.bullets-number {
		ol {
			margin-left: 0;
			padding: 0;
			list-style: none;

			li {
				counter-increment: counter-incr;
				padding-top: 80px;
				position: relative;
				margin-bottom: 30px;
				min-height: 48px;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				align-content: center;
				white-space: pre-wrap;

				&:last-child {
					padding-bottom: 0;
				}

				&:before {
					content: counter(counter-incr);
					position: absolute;
					left: 0;
					top: 0;
					width: 64px;
					height: 64px;
					line-height: 64px;
					text-align: center;
					background: #eee;
					font-size: 24px;
					font-weight: 600;
					color: #CACACA;
					border-radius: 99px;
				}

				@media #{$small-up} {
					min-height: 72px;
					padding-left: 90px;
					padding-top: 0;

					&:before {
						width: 72px;
						height: 72px;
						line-height: 72px;
					}
				}

				.intro {
					margin-bottom: 0;
				}
			}
		}
	}
}