.search {
	&-icon {
		display: block;
		width: 40px;
		height: 40px;
		background: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path d="M20.6,18.8L15.8,14c1-1.3,1.6-3,1.6-4.8c0-4.5-3.7-8.2-8.2-8.2S1,4.7,1,9.2c0,4.5,3.7,8.2,8.2,8.2c1.8,0,3.4-0.6,4.8-1.5 l4.8,4.8c0.3,0.3,0.6,0.4,0.9,0.4s0.7-0.1,0.9-0.4C21.1,20.1,21.1,19.3,20.6,18.8z M3.6,9.2c0-3.1,2.5-5.5,5.5-5.5s5.5,2.5,5.5,5.5 c0,3.1-2.5,5.5-5.5,5.5S3.6,12.2,3.6,9.2z"/></svg>') no-repeat center center / 22px 22px;
		text-indent: -9999px;

		&:hover {
		background: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path fill="#{$color-primary}" d="M20.6,18.8L15.8,14c1-1.3,1.6-3,1.6-4.8c0-4.5-3.7-8.2-8.2-8.2S1,4.7,1,9.2c0,4.5,3.7,8.2,8.2,8.2c1.8,0,3.4-0.6,4.8-1.5 l4.8,4.8c0.3,0.3,0.6,0.4,0.9,0.4s0.7-0.1,0.9-0.4C21.1,20.1,21.1,19.3,20.6,18.8z M3.6,9.2c0-3.1,2.5-5.5,5.5-5.5s5.5,2.5,5.5,5.5 c0,3.1-2.5,5.5-5.5,5.5S3.6,12.2,3.6,9.2z"/></svg>') no-repeat center center / 22px 22px;
		}
	}

	&-form {
		margin-top: 40px;

		.form-submit {
			width: 39px;
			height: 39px;
			padding: 0;
			line-height: 43px;
		}
	}

	&-results {
		list-style: none;
		padding: 0;
		margin-top: 30px;

		li {
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid #ddd;

			&:last-child {
				border-bottom: none;
			}
		}
	}

	&-block-form {
		.form-type-search {
			margin: 0;
			padding-left: 50px;

			.form-search {
				border-radius: 0;
				border: none;
				border-bottom: 2px solid #fff;
				background: transparent;
				font-size: 20px;
				color: #fff;
				height: 48px;
				padding-top: 0;
				padding-bottom: 0;

				&::placeholder {
					color: #fff;
				}
				&:focus {
					box-shadow: none;
				}
			}

			.form-submit {
				margin-left: 15px;
				width: 48px;
				height: 48px;
				padding: 0;

				.icon {
					font-size: 20px;
					line-height: 48px;
				}
			}
		}
		.description {
			color: $color-white;
			opacity: .75;
		}
	}
}