.share {
	&__link {
		width: 32px;
		height: 32px;
		background-size: 32px 32px;
		background-position: center center;
		border-radius: 0;
		background-color: transparent;
		margin-right: 15px;
		display: inline-block;

		&:hover {
			transform: none;
			opacity: .6;
		}

		&--facebook {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path fill="#C5C5C5" d="M41.3 33.3l1.7-6.3h-7v-5.7c0-2 1-2.3 4-2.3h3v-7h-5.7c-5.5 0-9.3 3.2-9.3 9.3v5.7h-7v7h7v18h8v-18.7h5.3z"/></svg>');
		}
		&--twitter {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path fill="#C5C5C5" d="M52 20.3c-1.5.7-3.7 1.5-5.3 1.7 1.7-1.1 3.3-3.5 4-5.3-1.3.8-2.8 1.9-4.3 2.4l-1.1-1.1c-1.5-1.6-2.9-2.7-5.3-2.7-4.5 0-8 3.5-8 8 0 .5 0 .9.1 1.3h-.1c-8 0-13.3-1.7-17.3-6.7-.7 1.2-1.3 2.5-1.3 4 0 2.8 1.7 5.2 4 6.7-1.3 0-2.9-.7-4-1.3 0 4 5.6 8.5 9.3 9.3-1.3 1.3-6.1.1-6.7 0 1.1 3.2 4.4 5.2 8 5.3-2.8 2.1-6.1 3.3-10 3.3-.7 0-1.3 0-2-.1 3.6 2.3 8.7 3.5 13.3 3.5 15.1.1 22.7-11.8 22.7-22.6v-1.3c1.6-1.2 2.9-2.8 4-4.4z"/></svg>');
		}
		&--linkedin {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><g fill="#C5C5C5"><path d="M27 26h7l-.1 3.4c.9-1.9 3.5-3.5 6.9-3.5 7.3 0 8.1 4.1 8.1 10.4v12.7h-7l.1-11.6c0-2.7.3-5.7-3.5-5.7-4.7 0-4.7 2.8-4.7 5.7l.2 11.6h-7v-23z"/><path d="M16 26h7v23h-7z"/><circle cx="19.5" cy="18.3" r="4"/></g></svg>');
		}
	}
}