.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 48px;
    width: 48px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    top: 50%;
    margin-top: -24px;
    padding: 0;
    border: none;
    outline: none;
    z-index: 5;
    background-size: contain;

    &.slick-disabled {
        opacity: .2;
        cursor: not-allowed;
    }
    &:hover {
        background-size: contain;
    }
}

.slick-prev {
    left: 0;
    transform: rotate(90deg);
}

.slick-next {
    right: 0;
    transform: rotate(-90deg);
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    top: 100%;
    margin: 20px 0 0;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;

    li {
        position: relative;
        display: inline-block;
        margin: 0 8px;
        padding: 0;
        cursor: pointer;

        button {
            display: block;
            height: 10px;
            width: 10px;
            padding: 0;
            border-radius: 99px;
            cursor: pointer;
            text-indent: -9999px;

        }
    }
}
