.snippet {
	&-vertical {
		height: 100%;
		display: flex;
		flex-direction: column;

		&__content {
			padding: 15px;

			@media #{$small-up} {
				padding: 20px;
			}
		}
		&__button {
			margin-top: auto;
			padding: 0 20px 20px 20px;
		}
	}
	&-horizontal {
		display: flex;

		@media #{$xsmall-only} {
			display: block;
		}

		&__title {
			margin-bottom: 15px;
		}
		&__image {
			flex: 33.333333% 0 0;
			max-width: 400px;

			@media #{$xsmall-only} {
				float: left;
				width: 33.3333%;
				margin-right: 15px;
			}
		}
		&__content {
			padding: 20px;
		}
		&__button {
			margin-top: 20px;
		}
	}
}