.tabs {
	&__navigation {
		margin-bottom: 10px;
	}
	&__content {
		.tab-pane {
			& > .field--name-field-media-image {
				float: right;
				width: 50%;
				padding: 0 0 10px 30px;
				max-width: 480px;
			}
		}
	}
}
.az-tabs {
	.nav-tabs {
		@extend .tabs__navigation;
	}
	.az-tab {
		@extend .tabs__content;
	}
}