.timeline-item {
	position: relative;
	justify-content: space-between;
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 20px;

	@media #{$small-up} {
		padding: 30px;
		display: flex;
		margin-top: 120px;
		margin-bottom: 90px;
	}
	@media #{$medium-up} {
		padding: 50px;
		margin-bottom: 120px;
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
	}
	&:before {
		width: 24px;
		height: 24px;
		top: -12px;
		border-radius: 99px;
		z-index: 3;

		@media #{$small-up} {
			width: 36px;
			height: 36px;
			top: -18px;
		}
	}
	&:after {
		width: 1px;
		height: 120px;
		top: -121px;
		margin-top: -1px;
		z-index: 2;

		@media #{$small-up} {
			height: 180px;
			top: -181px;
		}
	}

	&:nth-child(even) {
		flex-direction: row-reverse;

		&:before {
			left: 24px;

			@media #{$small-up} {
				left: 36px;
			}
		}
		&:after {
			left: 36px;
			
			@media #{$small-up} {
				left: 54px;
			}
		}
		.timeline-item__year {
			right: 0;
		}
	}
	&:nth-child(odd) {
		&:before {
			right: 24px;

			@media #{$small-up} {
				right: 36px;
			}
		}
		&:after {
			right: 36px;
			
			@media #{$small-up} {
				right: 54px;
			}
		}
		.timeline-item__year {
			left: 0;
		}
	}
	&:first-child {
		&:before,
		&:after {
			content: none;
		}
	}

	& + .timeline-item {
		margin-top: 120px;

		@media #{$small-up} {
			margin-top: 180px;
		}
	}

	&__year {
		position: absolute;
	}
	&__image {
		float: left;
		width: 33.3333%;
		margin-right: 15px;

		@media #{$small-up} {
			float: none;
			width: auto;
			margin-right: 0;
			flex: 33.333333% 0 0;
		}
	}
	&__title {
		font-size: 25px;
	}
	&__content {
		@media #{$small-up} {
			width: calc(66.666666% - 30px);
		}
	}
}