.user {
	margin-bottom: 20px;

	&__image {
		float: left;
		width: 50px;
		margin-right: 15px;

		img {
			border-radius: 99px;
			width: 50px;
		}
	}
	&__name {
		font-weight: bold;
		line-height: 50px;
		font-size: 16px;
	}
}
