@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.view {
	&--has-ajax {
		&.loading {
			.view-content {
				position: relative;
			}
			.view-content > *,
			.view-empty {
				opacity: .3;
			}

			.view-content:after {
				content: '';
				display: block;
				width: 50px;
				height: 50px;
				position: fixed;
				opacity: 1;
				top: 50%;
				left: 50%;
				margin: 1px 1px 1px -25px;
				border-radius: 50%;
				border: 5px solid #fff;
				border-color: $color-primary transparent $color-secondary transparent;
				animation: loading 1.2s linear infinite;
				z-index: 99999;
			}
		}
	}
}
