{#
/**
 * @file
 * Display an iframe with alterable components.
 */
#}
<iframe{{ attributes }}{% if url is not empty %} data-src="{{ url }}{% if query is not empty %}?{{ query | url_encode }}{% endif %}{% if fragment is not empty %}#{{ fragment }}{% endif %}"{% endif %}></iframe>
<p class="no-cookies">{{ 'This block contains content that requires you to allow @cookies.'|t({ '@cookies': 'marketing cookies' }) }} <a href="javascript:CookieConsent.renew();">{{ 'Change cookie settings'|t }}</a></p>