@keyframes spin {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(359deg)
	}
}
.ajax-throbber {
	animation: spin 1s infinite linear;
}

body.adminimal-admin-toolbar {
	padding-top: 80px !important;

	.toolbar .toolbar-bar {
		z-index: 1999;
	}
}
