body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothign: grayscale;
	image-rendering: -webkit-optimize-contrast;
}

h1,
h2,
h3,
h4 {
	&:first-child {
		margin-top: 0;
	}
}

p {
	&:last-child {
		margin-bottom: 0;
	}
}

img {
	max-width: 100%;
	height: auto;
	opacity: 1;
	transition: all .3s ease;

	&.lazy-img {
		opacity: 0.1;
		transition: opacity .3s ease;
	}
}
.container {
	max-width: 100%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	.region-content-top & {
		min-height: 0;
	}
}

.col-xs-2\.4 {
	float: left;
	width: 20%;
	padding: 0 15px;
}
.col-sm-2\.4 {
	width: 50%;
	padding: 0 15px;

	@media #{$small-up} {
		float: left;
		width: 20%;
	}
}
.col-md-2\.4 {
	width: 50%;
	padding: 0 15px;

	@media #{$medium-up} {
		float: left;
		width: 20%;
	}
}
.col-lg-2\.4 {
	width: 50%;
	padding: 0 15px;

	@media #{$large-up} {
		float: left;
		width: 20%;
	}
}
