#az-elements-tabs {
	#az-elements-tab-4 { // Views tab
		.filter-tags {
			display: none;
		}
	}
}

.az-empty > .top {
	// .glazed-choose-layout {
	// 	display: none;
	// }
	// strong {
	// 	content: 'test';
	// }
}

#page-title-full-width-container {
	margin-bottom: 0;
}

.glazed-editor {
	&:after {
		outline: none !important;
	}
	.az-section {
		border-top: 3px dashed rgba(0, 0, 0, 0.05);
	}
}
