.blog {
  &-full {
    .container {
      max-width: 950px;
    }
    &__author {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }
    &__title {
      font-size: 40px;
      margin-top: 40px !important;
      margin-bottom: 0;
    }
    &__date {
      margin-bottom: 20px;
      &:before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        background-image: url("../images/clock.svg");
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 5px;
        transform: translateY(1px);
      }
    }
    &__intro {
      clear: both;
    }
    &__paragraphs {
      clear: both;

      .paragraph {
        padding: 30px 0;
      }
    }

    &__image {
      margin-bottom: 20px;
    }
    &__categories {
      a,
      span,
      .field--item {
        padding: 5px 10px;
        background: #eee;
        color: #333;
        font-weight: bold;
        font-size: 14px;
      }

      .field--items {
        display: flex;
        .field--item {
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }

  &-teaser {
    &__title {
      h3 {
        margin-bottom: 20px;
        font-size: 18px;
      }
    }
    &__date {
      margin-bottom: 10px;
    }
    &__summary {
      font-size: 16px;
    }
  }
}
