.case {
  &-full {
    padding-top: 40px;
    &__author {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }
    &__date {
      float: right;
    }
    &__intro {
      clear: both;
      margin-bottom: 50px;
    }

    &__title {
      font-size: 40px;
      margin-bottom: 40px;
      margin-top: 0;
    }

    .container {
      padding: 0 90px;
      max-width: $container-large;

      &--medium {
        max-width: $container-medium;
      }
    }
    &__image {
      img {
        width: 100%;
        max-height: 512px;
        object-fit: cover;
        object-position: bottom;

        @media #{$large-up} {
          height: 512px;
        }
      }

      .media-image {
        z-index: -1;
      }
    }

    &__categories {
      margin-bottom: 20px;
      a,
      span,
      .field--item {
        padding: 5px 10px;
        background: #eee;
        color: #333;
        font-weight: bold;
        font-size: 14px;
      }

      .field--items {
        display: flex;
        .field--item {
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }

  &-teaser {
    &__title {
      h3 {
        font-size: 18px;
        margin-bottom: 5px;

        .content-bottom & {
          color: $color-white;
        }
      }
    }

    &__categories {
      a,
      span,
      .field--item {
        padding: 5px 10px;
        background: $color-grey;
        color: $color-grey;
        font-weight: bold;
        font-size: 14px;
      }

      .field--items {
        display: flex;
        .field--item {
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    }

    &__date {
      font-size: 13px;
      font-weight: 300;
    }

    &__summary {
      .content-bottom & {
        color: $color-white;
      }
    }

    &__readmore {
      display: block;
      margin-top: 20px;
      text-decoration: underline;
      background-color: transparent;
      border: 1px solid $color-grey;
      font-weight: bold;
      color: $color-primary;
      width: max-content;
      padding: 10px;

      .content-bottom & {
        color: $color-white;
        background-color: $color-primary;
        border: none;
      }
    }
  }
}
