.job {
  &-teaser {
    width: 100%;

    .panel {
      border: none;
      box-shadow: none;
      background-color: transparent;

    }

    &__link {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: $color-grey;
      padding: 75px;


      &:hover {
        box-shadow: none;
        background: none;
        background-color: $color-primary;
      }
    }

    &__readmore {
      margin-top: 25px;
      text-decoration: underline;
      display: block;
      font-weight: bold;
    }

    &__title {
      font-size: 40px;
      font-weight: 600;
      @media #{$small-up} {
        width: 45%;
      }
    }

    &__summary {
      @media #{$small-up} {
        width: 50%;
      }
    }
  }
}