{#
/**
* @file
* Default theme implementation to display the file entity as a video tag.
*
* Available variables:
* - attributes: An array of HTML attributes, intended to be added to the
*   video tag.
* - files: And array of files to be added as sources for the video tag. Each
*   element is an array with the following elements:
*   - file: The full file object.
*   - source_attributes: An array of HTML attributes for to be added to the
*     source tag.
*
* @ingroup themeable
*/
#}
{{ attach_library('boltdemo/video') }}
<div class="video">
	<button class="video__play-button">{{ 'Play video'|t }}</button>
	<div class="video__container">
		<button class="video__close">{{ 'Close video'|t }}</button>
		<div class="video__video">
			<video {{ attributes.setAttribute('playsinline', 'playsinline') }}>
			  {% for file in files %}
			    <source {{ file.source_attributes }} />
			  {% endfor %}
			</video>
		</div>
	</div>
</div>
