{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - icon: An icon.
 * - icon_only: Flag to display only the icon and not the label.
 * - icon_position: Where an icon should be displayed.
 *
 * @ingroup templates
 *
 * @see \Drupal\bootstrap\Plugin\Preprocess\FileLink::preprocessVariables
 */
#}
{% apply spaceless %}
  {%
    set classes = [
      icon_only ? 'icon-only',
      not icon_only ? 'icon-' ~ icon_position|clean_class
    ]
  %}

  <div{{ attributes.addClass(classes) }}>
    <a class="file__link" href="{{ url }}">
      <div class="file__label">{{ label }}</div>
      <div class="file__size">{{ file_size }}</div>
      <div class="file__download btn btn-primary">{{ 'Download'|trans }}</div>
    </a>
  </div>
{% endapply %}
