a {
	color: $color-primary;

	&:hover,
	&:focus,
	&:active {
		color: darken($color-primary, 15%);
	}
}

.background {
	&-primary {
		background: $color-primary;
		color: $color-white;

		h1,
		h2,
		h3,
		h4,
		p,
		span,
		li,
		legend {
			color: inherit;
		}

		a:not(.btn) {
			color: $color-white;
		}

		.btn {
			&-primary {
				background: darken($color-primary, 10%);

				&:hover,
				&:active,
				&:focus,
				&:active:hover,
				&:active:focus {
					background: darken($color-primary, 15%);
				}
				&[disabled],
				&[disabled]:hover {
					background: lighten($color-primary, 10%);
				}
			}
		}

		.layout-builder & {
			.layout-builder-block:hover {
				outline-color: $color-white;
			}
		}
	}
	&-secondary {
		color: $color-black;
		background: $color-secondary;
	}
	&-white {
		color: $color-black;
		background: $color-white;
	}
	&-grey {
		color: $color-black;
		background: $color-grey;
	}
}