%button {
	white-space: normal;
	text-decoration: none;
	display: inline-block;
	border-radius: 0;
	border: none;
	font-size: 12px;
	letter-spacing: 0.15em;
	padding: 1.5em 2.5em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 1.4;
}