.layout--boxlinks  {
  padding: 50px;
  border: 1px solid $color-border;

  ul {
    @media #{$medium-up} {
      columns: 3;
      padding-left: 20px;
    }

    li {
      margin-bottom: 10px;
      a {
        text-decoration: none;
        font-weight: 300;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.layout--boxlinks-2 {
  h4 {
    margin-bottom: 30px;
  }

  ul {
    list-style: none;
    padding: 0;

    li:before {
      content: none !important;
    }
  }

  a {
    text-decoration: none !important;
    margin-bottom: 20px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    padding-right: 40px;
    display: block;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-border;

    &:hover {
      color: $color-border;
    }

    &:after {
      content: '';
      display: block;
      background-image: url("../images/arrowlinks.svg");
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      right: 0;
      top: 0;
      width: 25px;
      height: 25px;
    }
  }
}
