.inline-block-brands {
  &__images {

    .brand {

      @media #{$medium-down} {
        width: 100%;
      }

      &__image {
        border: 1px solid $color-border;

        @media #{$medium-down} {
          img {
            margin: 0 auto;
          }
        }
      }

    }
    &--slider {
      margin-bottom: 100px;
      .brand {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 275px;
      }

      .slick-dots {
        top: calc(100% - 55px);

        li.slick-active  button{
          background-color: $color-primary;
          border-color: $color-primary;
        }
      }

      .slick-next {
        right: calc(50% - 140px);
      }

      .slick-prev {
        left: calc(50% - 140px);
      }
    }
    &--grid {
      display: flex;
      flex-wrap: wrap;

      margin-left: 1px;
      margin-top: 1px;
      .brand {
        margin-left: -1px;
        margin-top: -1px;
        &__image {
          border: 1px solid $color-border;
        }

        @media #{$medium-up} {
          width: 33.3%;
        }
      }

    }
  }
}
