.inline-block-button {
  margin-top: 30px;

  @media #{$medium-down} {
    margin-bottom: 30px;
    text-align: center;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right; 
  }
}
