.layout-wrapper--callout {
  padding-top: 100px;
  padding-bottom: 150px;
  h2,
  h3,
  h4,
  h5,
  & {
    font-weight: 400;
  }

  .center {
    text-align: center;
  }

  .btn {
    text-decoration: none;
    background-color: $color-primary;
  }
}
