.inline-block-call-to-action {

  text-align: center;

  &__content {
    padding: 50px;
    @media #{$small-up} {
      padding: 75px
    }
  }

  background-color: $color-white;

  &.background-grey {
    background-color: $color-grey;
  }

  &.background-primary {
    background-color: $color-primary;

    &,
    h2,
    h3,
    h4 {
      color: $color-white;
    }
  }

  &.background-secondary {
    background-color: $color-secondary;

    &,
    h2,
    h3,
    h4 {
      color: $color-white;
    }
  }

  &__btn {
    margin-top: 20px;
  }
}

.layout--call-to-action-image {
  .col-lg-6 {
    &:first-child {
      padding-right: 0;
    }
    &:last-child {
      padding-left: 0;
    }
  }
}
