.inline-block-counter {

  margin-bottom: 15px;

  .no-padding & {
    @media #{$medium-up} {
      margin-bottom: 0;
    }
  }

  .counter {

    &__content {
      padding: 0;
      display: flex;
      flex-direction: column;
    }

    &__number {
      font-size: 60px;
      color: $color-primary;
      line-height: normal;
      font-weight: 700;
      padding: 80px 20px;
      background-color: $color-white;
      text-align: center;
      border: 1px solid $color-border;
      order: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .layout--counters-image & {
        min-height: 400px;
      }
    }
    &__suffix {
      font-size: 18px;
      font-weight: 300;
      display: block;
      color: $color-black;
    }

    &__image {
      order: 0;
    }
  }

}
