.inline-block-form {
  background-color: $color-white;
  max-width: 920px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;

  .background-primary & {
    margin-top: 200px;
    margin-bottom: 200px;
  }

  .inline-block-form__form {
    max-width: 730px;
    margin: 0 auto;
  }
}
