.inline-block-gallery {

  &.slider,
  &.sliderbig {
    .slick-prev,
    .slick-next {
      width: 30px;
      height: 30px;
      top: 100%;
      background-size: 30px;
      background-image: url("../images/arrow.svg");
      margin-top: 5px;
    }

    .slick-next {
      left: calc(50% + 20px);
      transform: translate(-15px, 60px);
      @media #{$medium-down} {
        transform: translate(-15px, 30px);
      }
    }

    .slick-prev {
      left: calc(50% - 20px);
      transform: translate(-15px, 60px) rotate(180deg);
      @media #{$medium-down} {
        transform: translate(-15px, 30px) rotate(180deg);
      }
    }
  }

  &.sliderbig {
    padding-bottom: 100px;
    .slick-slider {
      max-width: 100%;

      .slick-list {
        overflow: visible;
      }

      img,
      .slick-slide {
        margin-right: 30px;
        height: 250px;
        width: auto;

        @media #{$small-up} {
          height: 300px;
        }
        @media #{$medium-up} {
          height: 350px;
        }
        @media #{$large-up} {
          height: 590px;
        }
      }

    }
  }
  &__images {

    &--grid,
    &--masonry {
      .colorbox {
        display: block;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: $color-primary;
          opacity: 0;
        }
        &:hover:after {
          opacity: .3;
        }
      }
    }
    &--masonry {
      columns: 2;
      column-gap: 10px;

      .colorbox {
        position: relative;
      }

      @media #{$medium-up} {
        column-count: 3;
        column-gap: 25px;

        .layout--gallery-4 & {
          column-count: 4;
        }
      }

      .media-image {
        margin-bottom: 10px;

        @media #{$medium-up} {
          margin-bottom: 20px;
        }
      }
    }
    &--grid {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
      margin-top: -30px;

      .media-image {
        width: 50%;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 30px;

        @media #{$medium-up} {
          width: 33.333%;
        }

        & > .field--name-field-media-image {
          padding-bottom: 100%;
          position: relative;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    &--big {
      max-width: 100%;
      height: 280px;

      @media #{$small-up} {
        height: 340px;
      }
      @media #{$medium-up} {
        height: 380px;
        margin-bottom: 20px;
      }
      @media #{$large-up} {
        height: 550px;
      }

      img {
        max-height: 250px;
        width: auto;
        margin: 0 auto;
        object-fit: cover;
        object-position: center;

        @media #{$small-up} {
          max-height: 300px;
        }
        @media #{$medium-up} {
          max-height: 350px;
        }
        @media #{$large-up} {
          max-height: 550px;
        }
      }
    }

    &--teasers {
      max-width: 100%;
      height: 160px;
      @media #{$medium-up} {
        margin-bottom: 70px;
      }

      .field--name-field-media-image {

        width: 150px;
        height: 150px;
        position: relative;
        margin-right: 32px;

        @media #{$medium-up} {
          width: 208px;
          height: 200px;
          position: relative;
          margin-right: 30px;
        }
      }

      img {
        width: 100%;
        position: absolute;
        left: 0;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
