.layout--headercontent-1 {
  .inline-block-text {
    max-width: 920px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .inline-block-text__text {
    text-align: center;
  }

  span {
    font-size: 14px;
    font-weight: 300;
    color: $color-grey;
  }
}

.layout-wrapper--headercontent-2 {
  margin-bottom: 200px;
  .inline-block-text,
  .inline-block-image {
    max-width: 920px;
    margin-right: auto;
    margin-left: auto;
  }

  .inline-block-text__text {
    text-align: center;
  }

  .inline-block-image {
    margin-bottom: -150px;
  }

  span {
    font-size: 14px;
    font-weight: 300;
    color: $color-grey;
  }
}

.layout--headercontent-3 {
  display: flex;
  align-items: center;
  .col-lg-9 {
    @media #{$medium-up} {
      margin-right: 150px;
      max-width: 730px;
      margin-left: auto;

    }
  }
}

.layout-wrapper--headercontent-3 {
  padding-top: 0;
  padding-bottom: 0;

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}
