.layout--pagebreak {
  &-left,
  &-right {
    padding-top: 100px;
    padding-bottom: 100px;
    @media #{$medium-up} {
      display: flex;
      flex-wrap: wrap;
    }

    .col-lg-3,
    .col-lg-9 {
      padding: 0;
    }

    .col-lg-9 {
      max-width: 920px;
      background-color: $color-grey;
      padding-top: 100px;
      padding-bottom: 100px;

      @media #{$medium-down} {
        padding-left: 30px;
        padding-right: 30px;
      }

      p,
      h2,
      h3,
      h4,
      h5 {
        color: $color-black !important;
      }

      .inline-block-text {
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &-right {
    @media #{$medium-up} {
      justify-content: flex-end;
    }
  }

  &-center {
    .inline-block-text {
      padding: 50px;
      background-color: $color-primary;
      p {
        color: $color-white;
      }

      @media #{$medium-up} {
        max-width: 650px;
        margin-left: auto;
        z-index: 3;
        margin-bottom: -100px;
      }
    }

    .inline-block-image {
      position: relative;
      z-index: -1;
    }
  }
}
