.page-teaser {
  margin-bottom: 30px;
  width: fit-content;
  &__content {
    position: relative;
  }

  &__title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100%;
    font-size: 18px;
    color: $color-white;
    margin: 0;
  }

  &__image {
    position: relative;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-black;
      opacity: 0.3;
    }
  }

  &:hover {
    .page-teaser__image:after {
      opacity: 0.1;
    }
  }
}
