
.inline-block-quotes {


  .slick-prev,
  .slick-next {
    width: 30px;
    height: 30px;
    top: 100%;
    background-size: 30px;
    background-image: url("../images/arrow.svg");
    margin-top: 5px;
  }

  .slick-next {
    left: calc(50% + 20px);
    transform: translate(-15px, 10px);
  }

  .slick-prev {
    left: calc(50% - 20px);
    transform: translate(-15px, 10px) rotate(180deg);
  }

  &--slider {
    .quote {
      &__text {
        margin-bottom: 20px;
        &:before {
          content: '';
          display: block;
          margin-bottom: 20px;
          margin-left: auto;
          margin-right: auto;
          background-image: url("../images/quote-grey.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  &--slider-horizontal {
      text-align: left;

    .quote-author-wrapper {
      display: flex;
      align-items: center;

      .quote__image {
        margin-right: 20px;
      }
    }

    .quote__text {
      margin-bottom: 20px;
    }

    .quote-author-text,
    .quote {
      text-align: left;
    }

    .slick-next {
      left: calc(90% + 20px);
      transform: translate(-15px, -70px);
    }

    .slick-prev {
      left: calc(90% - 20px);
      transform: translate(-15px, -70px) rotate(180deg);
    }
  }

  &--grid {


      @media #{$small-up} {
        gap: 30px;
        display: flex;
        align-items: stretch;
        align-content: stretch;
      }

      .quote {
      padding: 50px 30px;
      background-color: $color-grey;
      width: 100%;

      @media #{$small-up} {
        width: 50%;
      }

      @media #{$medium-up} {
        width: 33.3%;
      }

      &__text {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 30px;
        &:before {
          content: '';
          display: block;
          margin-bottom: 20px;
          margin-left: auto;
          margin-right: auto;
          background-image: url("../images/quote.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  &--horizontal {
    .quote {
      padding: 50px 30px;
      background-color: $color-grey;
      @media #{$medium-up} {
        display: flex;
        align-items: center;
      }

      .quote-author-text,
      .quote {
        @media #{$medium-up} {
          text-align: left;
        }
      }

      &__image {

        &,
        img {
          width: 180px;
          height: 180px;
          max-width: none;
        }

        margin-left: auto;
        margin-right: auto;
        @media #{$medium-up} {
          margin-right: 30px;
        }
      }

      &-author-wrapper {
        flex: auto;
      }

      &__author {
        font-size: 25px;
        font-weight: 700;
        text-transform: none;
        margin-bottom: 10px;
      }

      &__occupation {
        margin-bottom: 20px;
      }

      &__text {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 30px;
      }
    }
  }
}

