.inline-block-roadmap {

  .roadmap {
    &-number {
      font-size: 40px;
      background-color: $color-primary;
      color: $color-white;
      padding: 30px;
      border-radius: 100%;
      font-weight: bold;
      width: 100px;
      height: 100px;
      line-height: 45px;
      text-align: center;
      order: 1;

      @media #{$medium-down} {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
      }
    }

    &-wrapper {
      order: 1;
      @media #{$medium-up} {
        width: calc(100% - 150px);
      }
    }

    &-content {

      h2 {
        font-size: 40px;
        margin-bottom: 10px;

        @media #{$medium-down} {
          text-align: center;
        }
      }

      .roadmap-element {

        margin-bottom: 47px;

        @media #{$medium-up} {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
        }

        .roadmap-body {
          position: relative;
        }

        .field--name-field-media-image {
          order: 1;

          @media #{$medium-up} {
            width: 300px;
          }

          @media #{$medium-down} {
            margin-bottom: 20px;
          }
        }

        .field--name-field-text {
          order: 2;
        }

        &:nth-child(even) {

          .layout-wrapper--scattered & {
            .roadmap-wrapper {
              order: 0;
            }
          }

          .field--name-field-media-image {
            order: 2;
          }

          .field--name-field-text {
            order: 1;
          }
        }

        &:last-child {
          .roadmap-body {
            &:after {
              content: none;
            }
          }
        }

      }
    }

    &-body {
      background-color: $color-grey;
      padding: 25px;

      @media #{$medium-up} {
        display: flex;
        align-items: center;
        .field--name-field-text {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
  }
}
