.inline-block-tabs {
  .tabs {

    &__content {
      padding: 50px;
      .field--name-field-text {
        max-width: 730px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__navigation {
      li {
        @media #{$medium-down} {
          width: 100%;
        }

        a {
          border: 1px solid $color-grey;
          margin-bottom: -1px;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 400;
          padding: 20px;
          background-color: $color-white;

          @media #{$medium-up} {
            border-radius: 5px 5px 0 0;
          }
        }

        &.active {
          a {
            &,
            &:hover {
              background-color: transparent;
              color: $color-primary;
              border: 1px solid $color-grey;
              border-bottom: 1px solid $color-white;
            }
          }
        }
      }
    }
  }
}
