.inline-block-text {
  &__text {
    a {
      text-decoration: underline;
      font-weight: 600;
    }

    iframe {
      width: 100%;
      min-height: 600px;
      margin-bottom: 0;
      border: none;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding-left: 30px;
        position: relative;

        &:before {
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          background-image: url("../images/arrow.svg");
          background-size: cover;
          left: 0;
          top: 2px;
          position: absolute;
        }
      }
    }
  }
}

.layout-wrapper {
  &--text-1 {
    .col-lg-6 {
      &:first-child {
        padding-top: 30px;
        padding-bottom: 30px;
      }
      &:last-child {
        padding: 100px 50px;
        background-color: $color-grey;
      }
    }
  }

  .layout--text-2 {
    .field--name-field-text {
      display: flex;
      h3,
      p {
        width: 50%;
      }

      h3 {
        @media #{$medium-up} {
          padding-right: 100px;
        }
      }
    }

    .inline-block-text {
      padding-bottom: 50px;
      border-bottom: 1px solid $color-grey;
      margin-bottom: 50px;
    }
  }
}
