.inline-block-timeline {

  .timeline {
    &-content {

      h2 {
        font-size: 40px;
        margin-bottom: 10px;
      }

      .timeline-element {

        margin-bottom: 47px;

        .timeline-body {
          position: relative;
          &:after {
            content: '';
            height: 105px;
            width: 1px;
            background-color: $color-grey;
            position: absolute;
            display: block;
            bottom: -105px;
            left: 150px;


            @media #{$medium-down} {
              left: 50px;
            }
          }
        }

        .field--name-field-media-image {
          order: 1;

          @media #{$medium-down} {
            margin-bottom: 20px;
          }
        }

        .field--name-field-text {
          order: 2;
        }

        &:nth-child(even) {
          & > h2 {
            text-align: right;
          }

          .timeline-body {
              &:after {
              left: auto;
              right: 150px;

                @media #{$medium-down} {
                  right: 50px;
                }
            }
          }

          .field--name-field-media-image {
            order: 2;
          }

          .field--name-field-text {
            order: 1;
          }
        }

        &:last-child {
          .timeline-body {
            &:after {
              content: none;
            }
          }
        }

      }
    }

    &-body {
      background-color: $color-grey;
      padding: 25px;

      @media #{$medium-up} {
        display: flex;
        align-items: center;
        .field--name-field-text {
          padding-left: 30px;
          padding-right: 30px;
        }
      }

    }

    &-wrapper {
      @media #{$large-up} {
        margin-left: -240px;
      }

      .timeline-navigation {
        padding-right: 20px;
        position: sticky;
        top: 0;
        @media #{$medium-up} {
          padding-left: 100px;
          padding-right: 100px;
        }

        &:before,
        &:after {
          content: '';
          display: block;
          width: 30px;
          height: 30px;
          margin-top: 20px;
          margin-bottom: 20px;
          background-size: contain;
          background-repeat: no-repeat;
          margin-right: auto;
          margin-left: auto;
        }

        &:before {
          background-image: url("../images/arrowup.svg");
        }

        &:after {
          background-image: url("../images/arrowdown.svg");
        }

        &--item {
          margin-bottom: 20px;
          text-align: center;

          a {
            &:hover {
              color: $color-primary;
              text-decoration: none;
            }
          }
        }
      }

      display: flex;
      align-items: flex-start;
    }
  }
}
